<form id="restoreForm" method="get" data-th-action="${widgetUrl}">
    <input type="hidden" name="contentId" data-th-value="${contentId}" />
    <div data-th-if="${archiveEntries == null}">Ingen treff</div>
    <div data-th-if="${archiveEntries != null}">
        <label for="entries" style="margin-bottom: 0.25rem">Velg innhold for gjenoppretting</label
        ><br />
        <select name="selectedContent" id="entries">
            <option
                data-th-each="entry : ${archiveEntries}"
                data-th-text="${entry.name}"
                data-th-value="${entry.id}"
            ></option></select
        ><br />
        <button type="submit" style="margin-top: 0.5rem">Gjenopprett</button>
    </div>
</form>
