<main id="maincontent" tabindex="-1">
    <div class="container maincontent">
        <div class="search-bar" data-portal-region="searchbar">
            <div data-th-each="component: ${searchbar.components}">
                <div data-portal-component="${component.path}" data-th-remove="tag" />
            </div>
        </div>
        <div data-portal-region="result" id="sres">
            <div data-th-each="component: ${result.components}" data-th-remove="tag">
                <div data-portal-component="${component.path}" />
            </div>
        </div>
    </div>
    <div class="placeholder hide">
        <div class="top-link-wrapper">
            <a class="btn" href="#page-top" id="top-scroll-link">
                [[${toTop}]]
                <span class="top-link-indicator"></span>
            </a>
        </div>
    </div>
</main>
