<widget>
	<style>
		h3 {
		  	margin-top: 1rem;
		  	margin-bottom: 0.5rem;
		}
		caption {
			text-align: left;
		}
		p {
			font-size: 1rem;
			margin: 0.5rem 0 1.5rem 0;
		}
		table {
			font-size: 1rem;
		  	width: 100%;
		  	border-spacing: 0;
		}
		th {
		   padding: 0.2rem 0.4rem 0.2rem 0;
		   text-align: left;
		   font-weight: normal;
		}
		th:not(:first-child) {
		   padding-left: 0.5rem;
		}
		.first-col {
			width: 50%;
		}
		th:nth-child(2) {
			width: 20%;
		}
		th:nth-child(3) {
		  	width: 20%;
		}
		th:nth-child(4) {
		  	width: 10%;
		}
		tr:nth-child(odd) th {
		  	background-color: whitesmoke;
		}
	</style>
	<div id="admin-widget-content" style="background-color: white; padding: 1rem; align-items: center">
		<h3>Sist publiserte</h3>
		<table th:if="${published}">
			<caption>Dine (inntil) 5 siste publiserte innholdselementer siste 6 måneder</caption>
			<tr th:each="result: ${published}">
				<th class="first-col">
					<a th:text="${result.displayName}"
					   th:href="${result.url}"
					   th:title="${result.title}"
					   th:target="_blank"
					>
					</a>
				</th>
				<th th:text="${result.contentType}"></th>
				<th th:text="${result.modifiedTimeStr}"></th>
				<th th:text="${result.status}"></th>
			</tr>
		</table>
		<h3>Forhåndspubliseringer</h3>
		<p th:unless="${prePublished}">Du har ingen planlagte publiseringer</p>
		<table th:if="${prePublished}">
			<caption>Dine kommende forhåndspubliserte innholdselementer</caption>
			<tr th:each="result: ${prePublished}">
				<th class="first-col">
					<a th:text="${result.displayName}"
					   th:href="${result.url}"
					   th:title="${result.title}"
					   th:target="_blank"
					>
					</a>
				</th>
				<th th:text="${result.contentType}"></th>
				<th th:text="${result.modifiedTimeStr}"></th>
				<th th:text="${result.status}"></th>
			</tr>
		</table>
		<h3>Under arbeid</h3>
		<table th:if="${modified}">
			<caption>Dine (inntil) 5 siste innholdselementer under arbeid siste 6 måneder</caption>
			<tr th:each="result: ${modified}">
				<th class="first-col">
					<a th:text="${result.displayName}"
					   th:href="${result.url}"
					   th:title="${result.title}"
					   th:target="_blank"
					>
					</a>
				</th>
				<th th:text="${result.contentType}"></th>
				<th th:text="${result.modifiedTimeStr}"></th>
				<th th:text="${result.status}"></th>
			</tr>
		</table>
		<h3>Sist avpubliserte</h3>
		<table th:if="${unPublished}">
			<caption>Dine (inntil) 5 siste avpubliserte innholdselementer siste 6 måneder</caption>
			<tr th:each="result: ${unPublished}">
				<th class="first-col">
					<a th:text="${result.displayName}"
					   th:href="${result.url}"
					   th:title="${result.title}"
					   th:target="_blank"
					>
					</a>
				</th>
				<th th:text="${result.contentType}"></th>
				<th th:text="${result.modifiedTimeStr}"></th>
				<th th:text="${result.status}"></th>
			</tr>
		</table>
	</div>
</widget>

