<widget>
	<style>
		h3 {
			margin-top: 1rem;
			margin-bottom: 0.5rem;
		}
		table {
			font-size: 1rem;
			width: 100%;
			border-spacing: 0;
		}
		td {
			padding: 0.2rem 0.5rem 0.2rem 0;
		}
		td:not(:first-child) {
			padding-left: 0.5rem;
		}
		td:nth-child(2) {
			width: 20%;
		}
		tr:nth-child(odd) td {
			background-color: whitesmoke;
		}
		.first-col {
			width: 60%;
		}
	</style>
	<div id="admin-widget-content" style="background-color: white; padding: 1rem; align-items: center">
		<h3>Sist publiserte</h3>
		<table>
			<tr th:each="result: ${published}">
				<td class="first-col">
					<a th:text="${result.displayName}"
					   th:href="${result.url}"
					   th:title="${result.title}"
					   th:target="_blank"
					>
					</a>
				</td>
				<td th:text="${result.contentType}"></td>
				<td th:text="${result.modifiedTimeStr}"></td>
				<td th:text="${result.status}"></td>
			</tr>
		</table>
		<h3>Forhåndspubliseringer</h3>
		<table>
			<tr th:each="result: ${prePublished}">
				<td class="first-col">
					<a th:text="${result.displayName}"
					   th:href="${result.url}"
					   th:title="${result.title}"
					   th:target="_blank"
					>
					</a>
				</td>
				<td th:text="${result.contentType}"></td>
				<td th:text="${result.modifiedTimeStr}"></td>
				<td th:text="${result.status}"></td>
			</tr>
		</table>
		<h3>Under arbeid</h3>
		<table>
			<tr th:each="result: ${modified}">
				<td class="first-col">
					<a th:text="${result.displayName}"
					   th:href="${result.url}"
					   th:title="${result.title}"
					   th:target="_blank"
					>
					</a>
				</td>
				<td th:text="${result.contentType}"></td>
				<td th:text="${result.modifiedTimeStr}"></td>
				<td th:text="${result.status}"></td>
			</tr>
		</table>
		<h3>Sist avpubliserte</h3>
		<table>
			<tr th:each="result: ${unPublished}">
				<td class="first-col">
					<a th:text="${result.displayName}"
					   th:href="${result.url}"
					   th:title="${result.title}"
					   th:target="_blank"
					>
					</a>
				</td>
				<td th:text="${result.contentType}"></td>
				<td th:text="${result.modifiedTimeStr}"></td>
				<td th:text="${result.status}"></td>
			</tr>
		</table>
	</div>
</widget>

