/***************************
*
* Font
*
****************************/
body { font-size: 12pt; font-family: "Times New Roman", arial, sans-serif;}

/***************************
*
* Float
*
****************************/

.left,
.right,
#wrapper,
#contentContainer { float: none;}

/***************************
*
* Display
*
***************************/
#menu,
#smartMenu,
#contentContainer #searchTool,
#header #accessibility, .accessNavigation,
.btn,
#header,
#footer { display: none;}

div.hr hr { display: block;}

/**************************
*
* Images
*
***************************/

html,
#header,
#wrapper, 
div.hr { background-image: none!important;}

/*************************
*
* Width
*
**************************/
#appContainer,
.twoColumn #contentContainer,
.threeColumn #contentContainer { width: 100%;}

/*************************
*
* MISC
*
**************************/
#appContainer { margin: 0px;}

#contentContainer .content { margin-top: 0px;}

#contentContainer .content .contentFrame { padding: 0pt;}

#contentContainer .content .contentMarginContainer { padding: 10px 0px 10px 0px;}

#wrapper { background-color: transparent;}

#contentContainer .content .textController ul,
#contentContainer .content .textController ol { margin-left: 10px;}

