/***********************************************
* KLASSER FOR DEFAULT FONT-STØRRELSER
***********************************************/

body.font_large    { font-size: 110%!important;line-height:1.4em }
body.font_largest  { font-size: 150%!important;line-height:1.4em }

body.font_large .faner li,body.font_largest .faner li {height:auto}
body.font_large .faner li a, body.font_largest .faner li a {width:auto}



/*****************************
*
* GLOBAL STYLES
*
*****************************/

html { background: url('../bilder/bgmain.gif') top left; }
body { margin: 0px; font-size: 78%; }
body, select, input { font-family: arial, verdana, sans-serif; color: #675c53;}
select, input { font-size: 1em; border: 0px;}

ul { list-style: none; padding: 0px; margin: 0px 0px 0px 0px; }

h1, h2, h3, h4, h5 { margin: 0px; padding: 0px;}

form { margin:0px; padding: 0px;}

a { text-decoration: none; color: #0067c5; }
a:hover { text-decoration: underline;}

/***************************
*
* GLOBAL SELFDEFINED
*
****************************/
.accessNavigation { position: absolute; left: -300px; top: -400px;}
.btn { background: #96938f url('../bilder/btn.gif') repeat-x top left; border: 0px;}

div.hr { height: 2px; margin: 5px 0px 5px 0px; clear: left; }
div.hr { background: transparent url('../bilder/hr.gif') repeat-x top left;}
div.hr hr { display: none; }

.left { float: left;}
.right { float: right;}

.emneord {font-size: 1.5em;}
.emneord a { text-decoration: underline;}

/**************************
*
* CONTAINERS
*
***************************/
#appContainer { margin-left: 1%; width: 98%; margin-right: 0px;  min-width: 700px; float: left; clear: left; }
#wrapper { float: left; width: 100%; background: #f3f2ef url('../bilder/bgcontenttop.gif') repeat-x top left; }
#menu { float: left; min-width: 242px; width: 25%; border-right: 1px solid white;}
#smartMenu { float: left; border-right: 1px solid white; }
#contentContainer { float: left; }

.twoColumn #contentContainer { width: 67%; }

.threeColumn #smartMenu { width: 20%;}
.threeColumn #contentContainer { width: 52%; }

#footer { clear: left; text-align: center; background: #e0ded8; border-top: 1px solid #fff; height: 50px;}

/*************************
*
* CONTENT IN CONTAINERS
*
**************************/
#header { background: #c30000 url('../bilder/whitedots.gif') repeat-x 0px 4.6em; margin: 5px 0px 10px 0px; float: left; width: 100%;}
#header h1 { margin: 15px 0px 14px 32px; border: 0px; font-size: 2em;}
#header h1, #header #accessibility { float: left;}
#header h1 span { padding-bottom: 10px;}
#header h1 img { float: left; }
#header h1 #pesys { display: block; float: left; margin: 22px 0px 0px 13px; }
#header img { border: 0px;}
#header #accessibility { float: right; margin-top: 20px; margin-right: 10px; width: 500px;}
#header #accessibility li { padding-left: 5px; float: right; clear: right;}
#header #accessibility a { color: white; font-size: 1.1em; display: block; float: left; margin-right: 4px; vertical-align: bottom;}
#header #accessibility .large { font-size: 1.2em; margin-top: -0.1em;}
#header #accessibility .largest { font-size: 1.4em; margin-top: -0.15em;}

/* main level*/
#menu a { font-size: 1.4em; display: block; padding: 18px 5px 5px 39px; font-weight: bold; }
#menu a { background: url('../bilder/menuarrow.gif') no-repeat 0.8em 1.1em;}
#menu a, #menu a:visited { color: #3e3832;}
#menu a:hover { color: #C30000; text-decoration: none;}
#menu .selected a, #menu .selected a:visited { color: #C30000;}

#menu .selected ul li a, #menu .selected ul li a:visited {color:#675C53}

#menu a .breadcrumb { font-weight: normal; }

#menu ul { float: left; border-top: 1px solid white; width: 100%;}
#menu ul li { float: left; background: #e0ded8; width: 100%; min-height: 50px; border-bottom: 1px solid white; clear: left;}

/* sub level*/
#menu ul li.expanded { background: #e0ded8;}
#menu ul li.expanded ul { border: none;}
#menu ul li.expanded ul.level3 li { width: 100%; }
#menu ul li.expanded ul.level3 li a { margin-left: 20px; }
#menu ul li.expanded ul.level4 li a  {margin-left:40px}
#menu .expanded a { background: url('../bilder/menuarrowselected.gif') no-repeat 0.8em 1.1em; }
#menu ul li.expanded ul.level2 { padding-bottom: 23px;}

#menu .expanded div { padding: 10px 14px 0px 14px;}
#menu .expanded li { background: transparent url('../bilder/hr.gif') repeat-x top left; width: 100%; }
#menu .expanded li.expanded { background: transparent url('../bilder/hr.gif') repeat-x top left; width: 100%; }
#menu .expanded li { border: 0px; min-height: 25px;}
#menu .expanded li a { background: none; font-size: 1em; font-weight: normal; padding: 4px 0px 4px 37px; }


#menu #search { background: #9e0000 url('../bilder/bgsearch.gif') repeat-x top left; height: 56px; width: 100%; }
#menu #search .searchTable { background: #9e0000 url('../bilder/bgsearch.gif') repeat-x top left; height: 56px; width: 242px; }
#menu #search .searchTable TD, #menu #search .searchTable TD.inner { display: table-cell; }
#menu #search FORM { display: inline; }
#menu #search TD.inner { vertical-align: middle; }
#menu #search TD.inner DIV { background: #8b011c url('../bilder/bginnersearch.gif') repeat-x top left; width: 100%; height: 39px; }
#menu #search input { width: 110px; border-top: 1px solid white; border-right: 1px solid #5c0112; border-bottom: 1px solid #5c0112; border-left: 0px; }
#menu #search input { margin: 8px 9px 5px 0px; font-size: 1.45em; float: left; }
#menu #search .btn { margin-right: 12px; width: auto;}

#menu #searchResult .meta { background: transparent url('../bilder/bgsearchmeta.gif') repeat-x bottom left; }
#menu #searchResult .meta { color: #675C53; font-size: 1.2em; padding: 16px 0px 0px 6px; min-height: 47px; clear: left;}
#menu #searchResult ul { border: 0px;}
#menu #searchResult ul li { background: transparent url('../bilder/hr.gif') repeat-x bottom left; }
#menu #searchResult ul li { border: 0px; min-height: 1px;}
#menu #searchResult a { background: none; padding: 8px 6px 8px 6px; font-size: 1em; }
#menu #searchResult a, #menu #searchResult a:visited {color: #675C53;}
#menu #searchResult a:hover { color: #C30000;}
#menu #searchResult div h2 { color: #C30000; font-size: 1.2em; font-weight: normal;}
#menu #searchResult .scroller { float: left; width: auto; overflow-y: auto; overflow-x: hidden; height: 400px; width: 100%; margin-bottom: 10px; }
#menu #searchResult .selected a, #menu #searchResult .selected a:visited { color: #C30000;}

#smartMenu div { background: #6f6b67 url('../bilder/bgsmartmenuheading.gif') repeat-x top left; clear: left; min-height: 56px;}
#smartMenu DIV#siste { min-height: 56px; }
#smartMenu h2 { color: #FFFFFF; padding: 19px 0px 13px 40px; }
#smartMenu div#siste H2 { padding: 15px 0px 10px 40px; }
#smartMenu .linkList {background: transparent url('../bilder/iconsistenytt.gif') no-repeat 7px 0.8em;}
#smartMenu .sisteNytt {background: transparent url('../bilder/iconsistenytt.gif') no-repeat 7px 0.8em;}
#smartMenu DIV#siste H2.sisteNytt {background: transparent url('../bilder/iconsistenytt.gif') no-repeat 7px .6em; }
#smartMenu ul { border-top: 1px solid white; float: left; width: 100%;}
#smartMenu li { background: #e0ded8; }
#smartMenu li a { background: transparent url('../bilder/smartmenuarrow.gif') no-repeat 1em 1.8em; }
#smartMenu li { min-height: 50px; border-bottom: 1px solid white; float: left; width: 100%;}
#smartMenu a, #smartMenu a:visited { color: #675c53; padding: 19px 10px 10px 23px; display: block;}
#smartMenu a:hover { color: #C30000; text-decoration: none;}

#contentContainer .content { /*background: #f3f2ef url('../bilder/bgcontent.gif') no-repeat top left;*/ float: left; width: 100%; }
#contentContainer .content { min-height: 400px; margin-top: 56px; }
#contentContainer .content h1 { font-size: 2.5em; margin-bottom: 0.4em;}
#contentContainer .content p#changelog { font-size: .9em; }
#contentContainer .content .contentFrame { padding: 40px;}
#contentContainer .content .contentMarginContainer { padding: 10px;}
.article-body {padding: 0 10px}
#contentContainer .content .contentMarginContainer table { width: 100% !important; }
#contentContainer .content .contentMarginContainer table.border th, 
#contentContainer .content .contentMarginContainer table.border td { border: 1px solid #675C53; padding: 0 1.2em; }
#contentContainer .content .contentMarginContainer table.border th { background: #E0DED8; text-align: left; }
#contentContainer .content .contentMarginContainer table.border th p, 
#contentContainer .content .contentMarginContainer table.border td p { padding: 0 !important; }

#contentContainer .content .textController h1,
#contentContainer .content .textController h2,
#contentContainer .content .textController h3,
#contentContainer .content .textController h4,
#contentContainer .content .textController h5 { font-size: 1em !important; margin-top: 5px; margin-bottom: 5px; } /*#contentContainer .content .textController h5 { font-size: 1.5em; margin-top: 5px; margin-bottom: 5px; }*/
#contentContainer .content .textController ul { list-style-type: square; padding-left: 15px; margin: 5px 0px 10px 0px;}
#contentContainer .content .textController ol { list-style-type: decimal; padding-left: 17px; margin: 5px 0px 10px 0px;}

#contentContainer #searchTool { background: transparent url('../bilder/vertikalseperator.gif') no-repeat 50px bottom;}
#contentContainer #searchTool { height: 17px; margin-top: 13px; float: left; width: 90%;}
#contentContainer #searchTool img { border: 0px;}
#contentContainer #searchTool .left { margin-left: 22px;}
#contentContainer #searchTool .right{ margin-right: 40px;}

#contentHeaderContainer { margin-left: 30px; margin-right: 20px;margin-bottom: 10px;}

#footer ul { margin: 18px 0px; }
#footer ul li { display: inline; padding-right: 6px; }

.drilldown h2,
.drilldown h2 { padding: 5px 5px 5px 10px; background: transparent url('../bilder/menuarrow.gif') no-repeat 0.25em 0.25em; margin-bottom:0px !important; font-size:1.7em!important; cursor:pointer;} /*.drilldown h2 { padding: 13px 5px 5px 10px; background: transparent url('../bilder/menuarrow.gif') no-repeat 0.25em 0.75em; margin-bottom:0px !important; font-size:1.7em!important; cursor:pointer;}*/
.drilldownSelected h2 { padding: 5px 5px 5px 10px; background: transparent url('../bilder/menuarrowselected.gif') no-repeat 0.25em 0.25em; margin-bottom:0px !important;font-size:1.7em!important; cursor:pointer;} /*.drilldownSelected h2 { padding: 13px 5px 5px 10px; background: transparent url('../bilder/menuarrowselected.gif') no-repeat 0.25em 0.75em; margin-bottom:0px !important;font-size:1.7em!important; cursor:pointer;}*/
.drilldown, .drilldownSelected { background: #e0ded8; min-height: 20px;} /*.drilldown, .drilldownSelected { background: #e0ded8; min-height: 50px;}*/
.drilldown a { color:#675c53; margin-left:19px; margin-right:20px;}
.drilldownSelected a { color:#C30000; margin-left:19px; margin-right:20px;}
.drilldown a:hover, 
.drilldownSelected a:hover { color:#C30000; text-decoration:none;}

.drillDownOptionContainer {margin-left:30px; margin-right:20px; padding-top: 10px; padding-bottom:10px;}

.horisontalDottedLine {background: transparent url(../bilder/hr.gif) repeat-x left top; height:2px; overflow:hidden;}
.horisontalGrayLine { float: left; width: 100%; background: #f3f2ef url('../bilder/bgcontenttop.gif') repeat-x top left; }


/*************************
*
* SEARCH RESULT PAGE
*
**************************/
.searchBox { background-color:#E0DED8; margin-left:15px; margin-top:10px; padding: 10px 8px;}
.searchBox .btn, .searchBox .searchResultInputField { border:1px solid; }
.searchHitCount { margin-left: 15px; margin-top: 10px; padding-bottom: 10px; }
.searchresult { list-style-type: none; margin-left: 15px; margin-top: 10px; }
.searchresulttext { padding-bottom: 10px; }



/*TABELL fra gammelt bisys*/

.article-body tbody p {margin:0}

.article-body table,
.article-body .standard_data_tabell {
	color: #000000;	
	border-left:1px solid #E0DED8; 	
	border-top:1px solid #E0DED8; 	
}

.article-body table table {
    border:none;
}

.article-body table table thead td,
.article-body .standard_data_tabell_overskrift {
	font-weight: bold;
	border: 0px none;
	color: #000000;
	background-color:#E0DED8;
	padding: 2px;
	text-align: left;
	vertical-align: top;
}

.article-body table td,
.article-body .standard_data_tabell_data {	
	color: #000000;
	padding:0;
	background-color: #ffffff;
	text-align: left;
	vertical-align: top;
}

.article-body table table td,
.article-body .standard_data_tabell_data td {padding:2px;border-right:1px solid #E0DED8;border-bottom:1px solid #E0DED8; }


.article-body .standard_data_tabell_label {
	color: #000000;
	font-weight: normal;
	background-color: #F3F2EF;
	vertical-align: top;
	padding: 2px;
	text-align: left;
	vertical-align: top;	
}

.article-body .standard_data_tabell_blank {
	border: 0px black none;
	color: #000000;
	padding: 2px;
	background: #ffffff; 
	border-width: 0px 0px 0px 1px; 
	border-color: black black black #3333FF;
	text-align: left;
	vertical-align: top;
}
.article-body .hoved_data_tabell {
	border: 0px none;
	color: #000000;
	padding: 2px
}
.article-body .hoved_data_tabell_overskrift { 
	border: 0px none;
	color: #FFFFFF;
	font-weight: bolder;
	background-color: #330099;
	padding: 2px;
	text-align: left;
	vertical-align: top;
}
.article-body .hoved_data_tabell_data {
	border: 0px none;
	color: #000000;
	background-color: #E0DED8;
	padding: 2px;
	text-align: left;
	vertical-align: top;
}

.article-body .feil_data_tabell {
	border: 0;
	padding: 5px;
	border-top-color: #800040;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-color: #800040;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-color: #800040;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: #800040;
	border-right-style: solid;
	border-right-width: 1px;

}
.article-body .feil_data_tabell_data {
	border: 0px none;
	color: #800040;
	font-weight: normal;
	padding: 2px
	
}

.article-body .skjermbilde_meny_tabell {
	border-bottom-color: #E0DED8;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	padding-left: 10px;
	padding-right: 10px;
	
}
.article-body .skjermbilde_meny_header {
	border: 0px none;
	background-color: #330099;
	padding-left: 10px;
	padding-right: 10px
}



/***********************************
*
* CONTRAST
*
***********************************/
.contrast a { color: yellow!important; text-decoration: underline!important;}
.contrast a:hover { background-color: yellow!important; color: black!important;}

/**********************************
*
* Background-image
*
**********************************/

.contrast .btn,
.contrast div.hr,
.contrast #wrapper,
.contrast #menu ul li,
.contrast #menu ul li.expanded,
.contrast #menu #search,
.contrast #menu #search div,
.contrast #menu #search form,
.contrast #menu #searchResult .meta,
.contrast #menu #searchResult ul li,
.contrast #smartMenu div,
.contrast #smartMenu li { background: none!important; }
body.contrast { background: white!important;}
.contrast #header,
.contrast #wrapper,
.contrast .btn { background-color: black!important; }
.contrast #menu #searchResult .meta,
.contrast .btn,
.contrast #menu #searchResult div h2,
.contrast #smartMenu h2 { color: white!important;}
.contrast #menu #search div { display: none;}
.contrast #menu #search form { margin-left: 10px;}
.contrast #menu #search input { width: 150px;}
.contrast .btn { border: 1px solid white!important; }
.contrast #contentContainer .content { margin-top: 0px;}
.contrast #smartMenu { border-left: 1px solid white;}