.intelecomchat__button { background:#C30000; }
.intelecomchat__infomessage { font-family: Arial, Helvetica, sans-serif; color: #3E3832;}
.intelecomchaticon-minus { display: none; }
.intelecomchatheader { background-color: #C30000; }
.intelecomchat__info { border-bottom: none; height: 40px; background: #FFFFFF }
.intelecomchatdialog {position: static; background-color: #e7e9e9; color: #3E3832; border: none; }
.intelecomtext { color: #3E3832; font-family: Arial, Helvetica, sans-serif; max-width: 73%; min-width: 73%; height: 2.7em; width: 73%;}
.intelecomMsgPnl { font-family: Arial, Helvetica, sans-serif; }
.intelecomfooter { border-top: none; background: #FFFFFF; }
.intelecomchatinner input, .intelecomchatinner select, .intelecomchatinner textarea { font-family: Arial, Helvetica, sans-serif; border-radius: 0; }
.intelecomchaticon-right { background-image: none; }
.intelecomsubmit { width: 24%; height: 2.7em; margin-top: 1px; }
.intelecomchatinner button { background-color: #2368bf; border-radius: 0; box-shadow: 0px 2px 1px #3d3833; color: #FFFFFF; font-family: Arial, Helvetica, sans-serif; line-height: 0.1em; }
.intelecomchatoverlay__footer_logo { display: none; border-top: none;}
.intelecomchatoverlay { background: #e7e9e9; }
#motherDiv { width: 600px; height: 500px; position: static; top: 0; bottom: 0; left: 0; right: 0; margin: auto; }
.intelecomchat__infostate { color: #3E3832; background: #FFFFFF; }
.intelecomchat__infomessage { font-style: normal; }
.center{ text-align: center; }
.usynlig { visibility: hidden; }
