.office-details table {
    margin-bottom: 25px;
    border: none;
    width: auto;
}
.office-details table td {
    padding: 0 25px 0 0;
}
.office-details .article-body h5 {
    margin-bottom: 0;
}
.office-details .article-body h3, .office-details .article-body h5 {
    margin-bottom: 0;
}
.office-details .article-body p {
    margin-bottom: 0;
}
.office-details table tr:first-child td {
    background-color: inherit;
}
.office-details .article-body div p:last-child {
    margin-bottom: 25px;
}