/* For persons with vision disabilities */

/************************************************
*
* Images
*
*************************************************/
html,
#NAVpersonalizedNavigation,
#NAVborderBottomLeft,
#NAVborderBottomRight,
#NAVborderBottomCenter,
#NAVborderLeft,
#NAVborderRight,
.NAVsheetFlip,
#NAVsubmenuContainer .NAVfastNavContainer,
input.NAVbtn, 
.button, 
.loginButton,
#NAVpageImage .NAViconContainer,
#NAVheaderContainer #NAVheaderContentContainer,
#NAVrelevantContentContainer .NAVfastNavContainer  { background-image: none;}

/***********************************************
*
* Backgroundcolor 
*
************************************************/
html,
#NAVpageContainer,
#NAVsubmenuContainer .NAVfastNavContainer,
#NAVsubmenuContainer .NAVfastNavContainer .NAVfastNavPlaceHolder,
.NAVtbl .NAValternateRow,
#NAVrelevantContentContainer .NAVfastNavContainer,
#NAVrelevantContentContainer .NAVfastNavContainer .NAVfastNavPlaceHolder,
#NAVrelevantContentContainer .NAVnewsImg { background-color: #000000;}

#NAVcenterContainer,
#NAVpageImage { background-color: #C30000;}

#NAVrelevantContentContainer #NAValfabet a,
input.NAVbtn, 
.button, 
.loginButton,
.NAVbigCampaign,
#NAVrelevantContentContainer .NAVrelatedContentCampaign,
.NAVerrorBox,
.NAVtwoColumnBanner {  background-color: #FFFFFF;}

#NAVrelevantContentContainer #NAValfabet a:hover { background-color: yellow;}

.NAVformBox { background-color: #333333;}


/*************************************************
*
* Border 
*
*************************************************/
img { border: 0px;}

/************************************************
*
* Fontsize 
*
*************************************************/
body { font-size: 100%;}
table { font-size: 100%;}
select, input { font-size: 1em;}

/**********************************************
*
* Color 
*
***********************************************/
body,  
label,
h1,
#NAVpageImage h1 span,
h2,
h3,
h4,
h5,
.NAVtbl th,
.NAVtbl .NAValternateRow,
#NAVrelevantContentContainer .NAVkeyNumbers strong,
#NAVrelevantContentContainer .NAVnewsImg p { color: #FFFFFF!important;}

a,
a:hover,
a:visited,
#NAVheaderContainer #NAVheaderContentContainer a,
#NAVsubmenuContainer .NAVfastNavContainer a,
#NAVsubmenuContainer .NAVfastNavContainer a:hover,
#NAVsubmenuContainer .NAVfastNavContainer a:visited,
.NAVsquareLinkList ul,
h2 a,
h2 a:visited,
.newsExtra h2 a, 
.newsExtra h2 a:visited,
#NAVrelevantContentContainer .NAVlnkAvailability,
#NAVrelevantContentContainer .NAVlnkAvailability:hover,
#NAVsubmenuContainer a,
#NAVsubmenuContainer .NAVlevelOne,
#NAVsubmenuContainer .NAVlevelTwo,
#NAVsubmenuContainer .NAVlevelThree,
#NAVsubmenuContainer .NAVlevelFour  { color: yellow;}

#NAVrelevantContentContainer #NAValfabet a, 
#NAVrelevantContentContainer #NAValfabet a:hover,
.NAVbigCampaign h5,
.NAVbigCampaign h5 a, 
.NAVbigCampaign h5 a:visited,
.NAVbigCampaign a,
#NAVrelevantContentContainer .NAVrelatedContentCampaign h5,
.NAVerrorBox p,
.NAVtwoColumnBanner h5, 
.NAVtwoColumnBanner h5 a, 
.NAVtwoColumnBanner h5 a:visited,
.NAVtwoColumnBanner h5,
.NAVtwoColumnBanner a,
.NAVtwoColumnBanner a:visited  { color: #000000!important;}

/*************************************************
*
* Text decoration
*
**************************************************/
#NAVsubmenuContainer .NAVlevelOne,
#NAVsubmenuContainer .NAVlevelTwo,
#NAVsubmenuContainer .NAVlevelThree,
#NAVsubmenuContainer .NAVlevelFour,
.NAVerrorBox p { font-weight: bold;}

.NAVerrorBox { border: 1px solid white;}
