/*******************************************
*
* Special styles for IE, this stylesheet will only be visible for IE clients
*
*******************************************/

HEADER, FOOTER, SECTION, NAV, ASIDE, ASIDE DIV      { zoom: 1; }
ASIDE                                               { position: relative; }

select, input, textarea { font-size: 0.9em;}
samp { font-size: 1em; }

.faner LI { padding-top: 0; }

#NAVheaderContainer #NAVmenu img  { float: left; }
#NAVpersonalizedNavigation        { height: 45px; }
#NAVpageImage                     { height: 12.8em; }
#NAVpageContainer                 { height: 100%; }

#NAVsubmenuContainer                                  { margin-top: -10px; }
#NAVsubmenuContainer UL.NAVsubmenu OL                 { background: none; margin-left: 0; }
#NAVsubmenuContainer UL.NAVsubmenu LI OL LI OL LI DIV { background-image: url('../bilder/global/none.gif'); }
#NAVsubmenuContainer .NAVmenuTopLine DIV.tv           { background-image: url('../bilder/global/none.gif'); }
#NAVsubmenuContainer .NAVmenuTopLine DIV.tm           { background-image: url('../bilder/global/none.gif'); }
#NAVsubmenuContainer .NAVmenuTopLine DIV.th           { background-image: url('../bilder/global/none.gif'); }
#NAVsubmenuContainer .NAVmenuBottomLine DIV.bv        { background-image: url('../bilder/global/none.gif'); }
#NAVsubmenuContainer .NAVmenuBottomLine DIV.bm        { background-image: url('../bilder/global/none.gif'); }
#NAVsubmenuContainer .NAVmenuBottomLine DIV.bh        { background-image: url('../bilder/global/none.gif'); }
#NAVsubmenuContainer .NAVfirstMenuItem A.NAVlevelOne  { background-image: url(/_public/www.nav.no/bilder/venstremeny/menypil-hoyre.gif); }

#NAVsubmenuContainer .NAVselected OL .NAVselected DIV A    { color: #c30000; font-weight: bold; }
#NAVsubmenuContainer .NAVselected OL .NAVselected DIV * A  { color: #000000; font-weight: normal; }

#NAVtjenesterHeaderContainer { height: 3em; background: url( /_public/www.nav.no/bilder/dittnav/skraa.gif ) no-repeat right top; }
#NAVheaderDot                { background: url( /_public/www.nav.no/bilder/dittnav/headerbackground2.gif ) repeat-x bottom; padding-bottom: 1px; height: 60px; }

.NAVEDITable select              { margin-bottom: 1px; }
#NAVmainQuicklinksContainerOuter { padding: 5px 0 4px; }
#topBannerAktuelt                { z-index: 2000; }
#topBannerAktuelt BR             { line-height: 21px; }

#NAVmainQuicklinksContainer .quicklinksBox     { margin: 0 1% 2% 2%!important; }
#NAVmainQuicklinksContainer .quicklinksBox H5  { width: 95%; }
#NAVmainQuicklinksContainer .quicklinksBox DIV { width: 98%; }
#NAVmainQuicklinksContainer .quicklinksBox UL  { width: 98%; }

#NAVquicklinksContainer { width: 76%; }
.quicklinksBox          { width: 22%; }

#NAVpageContainer #NAVcontentContainer         { position: relative; }
#NAVpageContainer #NAVrelevantContentContainer { width: 18%; }

.leftColumnBanner .imageContainer { margin-left: 12px; }



/*********************************************************
*	Skjemaveileder
**********************************************************/

#NAVvedleggsveilederContainer .NAVskjemaBakgrunn { zoom: 1; }
#NAVvedleggsveilederContainer .NAVskjemaIndre    { zoom: 1; }
.form-details input#lastNedToppark {text-align:left;font-size:1em;padding:0 !important;cursor:pointer;width:12em}
.shipping-guidelines h2            {margin:0;padding-bottom:30px}


/********************************************
*	Logginn-boks.
********************************************/

.loginContainerTop, .loginContainerGrayTop, .loginContainerGrayMain, .loginContainerMain, .logginnRad { width: 100% !important;}
.logginnContainer { overflow: auto !important;}
.logginnForm      { width: 330px; }	
.NAVCenterSkygge  { display: none; }
.logginnForm  .input_container {width: 100% !important;}

