#NAVbanner                                  { position: relative; width: 100%; height: 172px; background: #c30000; z-index: 0; overflow: hidden; }
#NAVbanner DIV#bildeBg             { position: absolute; left: 0; width: 610px; height: 172px; background: #2e2e2e; z-index: 1;}
#NAVbanner A                              { text-decoration: none; color: #fff; }
#NAVbanner DIV.hide .linje          { display: none; }
#NAVbanner DIV#banner_1         { display: block; }
#NAVbanner DIV#banner_2 .linje { display: none; }
#NAVbanner DIV#banner_3 .linje { display: none; }
#NAVbanner DIV.linje                    { position: absolute; left: 649px; font-family: arial, helvetice, verdana, sans-serif; font-weight: bold; color: #fff; }
#NAVbanner DIV.linje1      { top: 29px; z-index: 101; font-size: 28pt; }
#NAVbanner DIV.linje2      { top: 67px; z-index: 102; font-size: 28pt; }
#NAVbanner DIV.linje3      { top: 115px; z-index: 103; font-size: 12pt; font-weight: normal; }
#NAVbanner IMG               { position: absolute; border: none; top: 21px; left: 0; z-index: 99; }
#NAVbanner IMG.maske    { top: 0; left: -21px; z-index: 100; }
#NAVbanner DIV#prikker   { position: absolute; left: 601px; top: 150px; width: 100%; height: 2px; background: transparent url(../bilder/hvitprikk.gif) repeat-x; z-index: 104;}


