
/************************************************************
*	 Felles styling av innhold
*************************************************************/
.appContentContainer    { margin-left: 50px; }
/*.clear:after            { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
* html .clear {height:1%;overflow:visible;zoom:1}*/
.clear:before, .clear:after { content: ""; display: table; }
.clear:after { clear: both; }
.clear { zoom: 1; }

/* SIDEMALER */
.mal                    { clear: both; margin: 1% auto 0; }
.mal_100                { width: 100%; }
.mal_80                 { width: 80%; }

.kolonne                { float: left; margin: 0; width: 100%; }
.sist                   { float: left; margin-left: 1%; }

.mal_70_30 .forst       { width: 69%; }
.mal_70_30 .sist        { width: 29.7%; }

.mal_30_70 .forst       { width: 24%; }
.mal_30_70 .sist        { width: 74%; }

.mal_25_50_25 .forst    { width: 24.2%; margin-right: 1.3%; }
.mal_25_50_25 .midt     { width: 49%; }
.mal_25_50_25 .sist     { width: 24.2%; }

/* PANELER */

/* Standard boks */

.panel                  { padding: 12px 14px 14px; margin-bottom: 16px;
                          -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }

/* Panelhode */
.panelhode              { border-bottom: 1px solid #c30000; padding-bottom:14px; margin-bottom: 14px; }

/* Alle h-nivåer styles likt - bruk det som stemmer med overskrift-hierarkiet på siden */
.panelhode H1,
.panelhode H2,
.panelhode H3,
.panelhode H4           { float: left; font-size: 1.2em; color: #c30000; margin: 0; background: none; }

.panelhode A            { display: block; float: right; background: url(/_public/Navet/decorator/bilder/ikon-info-16px.png) no-repeat; height: 16px; padding-left: 20px; color: #3e3832; line-height: 1.4em; }
.panelhode A:hover      { background: url(/_public/Navet/decorator/bilder/ikon-info-16px-hover.png) no-repeat; text-decoration: none; color: #0074c2; }

/* Innhold i paneler */
.panelinnhold           { margin: 0; }
.panelinnhold P         { margin-bottom: 1em; }
.p-stil                 { margin-bottom: 1em; }

/* Panelfot (med knapper og linker) */
.panelfot               { background: url('../bilder/dashedhorizontal.gif') repeat-x left top; padding: 4px 0 0; margin: 0 0 12px; height: 31px; }
.panelfot P             { margin: 0; padding: 0; }

.panelfot A.link         { display: block; float: left; margin-top: 8px; }
.panelfot A.link:visited { color: #0074c4; }

/* Standard "dus" boks */
.standard-dus           { background: #f0efec; }

.standard-skygge        { background: #e8eae6; }

/* Standard info boks */
.standard-info          { background: #faf9f5; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
                          background: -moz-linear-gradient(top center, #faf9f5, #f0efeb);
                          background: -webkit-gradient(linear, center top, center bottom, from(#faf9f5), to(#f0efeb)); }

.standard-info,
.panelhode              { border-bottom: 1px solid #b7b1a9; }

.standard-info .panelhode H1,
.standard-info .panelhode H2,
.standard-info .panelhode H3,
.standard-info .panelhode H4       { color: #675c53; }

/* Standard notis boks */
.standard-notis         { background: #faeec9;
                          background: -moz-linear-gradient(top center, #fff4d2, #faeec9);
                          background: -webkit-gradient(linear, center top, center bottom, from(#fff4d2), to(#faeec9)); }

/* Spesial "app" (applikasjon) boks */
.spesial-app            { margin-bottom: 0; background: #f2f1ef; }

/* Relatert (transparent) hoved boks */
.relatert-hoved         { background: none; border: none; padding: 12px 0;
                          -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }

/* Relatert (transparent) "dus" boks */
.relatert-dus           { background: none; border: none; padding: 12px 0;
                          -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }

.relatert-dus .panelhode          { border-bottom: 1px solid #b7b1a9; }

.relatert-dus .panelhode H1,
.relatert-dus .panelhode H2,
.relatert-dus .panelhode H3,
.relatert-dus .panelhode H4       { color: #675c53; }

/* Login hoved boks */
.login-hoved            { border: 4px solid #c30000; max-width: 500px; margin: 0 auto; }

.login-hoved .panelhode          { padding: 8px 14px 12px; margin: 0; background: #c30000; border: none;
                          background: -moz-linear-gradient(top center, #c30000, #b90000);
                          background: -webkit-gradient(linear, center top, center bottom, from(#c30000), to(#b90000)); }

.login-hoved .panelhode H1,
.login-hoved .panelhode H2,
.login-hoved .panelhode H3,
.login-hoved .panelhode H4       { color: #fff; float: none; }

/* Login "dus" boks */
.login-dus              { border: 4px solid #675c53; max-width: 500px; margin: 0 auto; }

.login-dus .panelhode   { padding: 8px 14px 12px; margin: 0; background: #675c53; border: none;
                          background: -moz-linear-gradient(top center, #675c53, #5a5149);
                          background: -webkit-gradient(linear, center top, center bottom, from(#675c53), to(#5a5149)); }

.login-dus .panelhode H1,
.login-dus .panelhode H2,
.login-dus .panelhode H3,
.login-dus .panelhode H4       { color: #fff; float: none; }

/* OBS! opplysning boks */
.obs-opplysning         { border: 4px solid #00a9e0; }

.obs-opplysning .panelinnhold H2,
.obs-opplysning .panelinnhold H3,
.obs-opplysning .panelinnhold H4,
.obs-opplysning .panelinnhold H5,
.obs-opplysning .panelinnhold H6    { color: #00a9e0; float: none; font-size: 1.2em; }

/* OBS! advarsel boks */
.obs-advarsel           { border: 4px solid #c30000; }

.obs-advarsel .panelinnhold H2,
.obs-advarsel .panelinnhold H3,
.obs-advarsel .panelinnhold H4,
.obs-advarsel .panelinnhold H5,
.obs-advarsel .panelinnhold H6    { color: #c30000; float: none; font-size: 1.2em; padding: 5px 0 0 34px; height: 25px;
                                    background: url(/_public/www.nav.no/bilder/ikoner/ikon-advarsel-25px.gif) no-repeat; }


/* PANELKOLONNER */

.panelkolonne_20                { float: left; margin: 0; padding: 0; width: 19%; }
.panelkolonne_25                { float: left; margin: 0; padding: 0; width: 24%; }
.panelkolonne_30                { float: left; margin: 0; padding: 0; width: 29%; }
.panelkolonne_50                { float: left; margin: 0; padding: 0; width: 49%; }
.panelkolonne_70                { float: left; margin: 0; padding: 0; width: 69%; }
.panelkolonne_75                { float: left; margin: 0; padding: 0; width: 74%; }
.panelkolonne_80                { float: left; margin: 0; padding: 0; width: 79%; }
.panelkolonne_sist              { margin-left: 2%; }


/* ELEMENTER - inline elementer i paneler */

/* Standard boks */
.element                { padding: 0; border: solid 1px #eeedec; margin-bottom: 16px;
                          -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px;
                          -moz-box-shadow:1px 1px 2px #eeedec; -webkit-box-shadow:1px 1px 2px #eeedec; box-shadow:1px 1px 2px #eeedec; }

/* Elementhode */
.elementhode            { margin: 12px 14px 14px; padding-bottom: 12px; }

/* Alle h-nivåer styles likt - bruk det som stemmer med overskrift-hierarkiet på siden */
.elementhode H1,
.elementhode H2,
.elementhode H3,
.elementhode H4,
.elementhode H5,
.elementhode H6         { float: left; font-size: 1.2em; color: #c30000; margin: 0; }

.elementhode A          { display: block; float: right; background: url(/_public/Navet/decorator/bilder/ikon-info-16px.png) no-repeat; height: 16px; padding-left: 20px; color: #3e3832; line-height: 1.4em; }
.elementhode A:hover    { background: url(/_public/Navet/decorator/bilder/ikon-info-16px-hover.png) no-repeat; text-decoration: none; color: #0074c2; }


/* Elementhode listevisning */

.element-liste .elementhode             { background: url('../bilder/dashedhorizontal.gif') repeat-x bottom; margin: 12px 14px 14px 0; padding-bottom: 12px; }
.element-liste .elementhode:last-child  { background: none; }

/* Alle h-nivåer styles likt - bruk det som stemmer med overskrift-hierarkiet på siden */
.element-liste .elementhode H1,
.element-liste .elementhode H2,
.element-liste .elementhode H3,
.element-liste .elementhode H4,
.element-liste .elementhode H5,
.element-liste .elementhode H6      { float: none; font-size: 1em; margin: 0 0 0.7em; color: #3e3832; }

.element-liste .elementhode A       { display: inline; float: none; background: none; height: auto; padding: 0; color: #0074c2; }
.element-liste .elementhode A:hover { text-decoration: underline; background: none; }

/* Innhold i paneler */
.elementinnhold         { margin: 14px; }

/* Panelfot (med knapper og linker) */
.elementfot             { padding: 4px 0 0; margin: 0 14px 12px; height: 31px; }
.elementfot P           { margin: 0; padding: 0; }
.elementfot A.link      { display: block; float: left; margin-top: 8px; }

/* KNAPPER - som button-element, input-element og a-element */
.btn-base           { cursor:pointer;display:inline-block;overflow:visible;width:auto;margin-right: 4px;padding: 5px 10px;font-size: 1.2em;
                        font-weight: bold;-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
:root .btn-base     { padding-bottom: 7px }
a.btn-base          { text-decoration:none; }
* html .btn-base    { padding-bottom:5px }
/*button end*/

.btn-standard           { color: #fff;  border: 1px solid #3A3733;
                         text-shadow:0 -1px 1px #000000;
                         -moz-box-shadow:0 1px 0 #908B86 inset, 0 1px 2px #9E9E9E;
                         -webkit-box-shadow:0 1px 0 #908B86 inset, 0 1px 2px #9E9E9E;
                          box-shadow:0 1px 0 #908B86 inset, 0 1px 2px #9E9E9E;
                          background: #3a3733; 
                          background: -moz-linear-gradient(top center, #6f6962, #3a3733);
                          background: -webkit-gradient(linear, center top, center bottom, from(#6f6962), to(#3a3733)); }
.btn-standard:hover     { 
                         -moz-box-shadow:0 1px 0 #B1ABA4 inset, 0 1px 2px #9E9E9E;
                         -webkit-box-shadow:0 1px 0 #B1ABA4 inset, 0 1px 2px #9E9E9E;
                          box-shadow:0 1px 0 #B1ABA4 inset, 0 1px 2px #9E9E9E;
                          background: #978f85; 
	                      background: -moz-linear-gradient(top center, #978f85, #3a3733);
	                      background: -webkit-gradient(linear, center top, center bottom, from(#978f85), to(#3a3733)); }
.btn-standard:active    { 
                         -moz-box-shadow:0 1px 0 #000000 inset, 0 1px 2px #9E9E9E;
                         -webkit-box-shadow:0 1px 0 #000000 inset, 0 1px 2px #9E9E9E;
                          box-shadow:0 1px 0 #000000 inset, 0 1px 2px #9E9E9E;
                          background: #3a3733; }


.btn-alternativ         {  color: #000; border: solid 1px #dadad7;
                          text-shadow:0 -1px 1px #FFFFFF;
                          -moz-box-shadow:0 1px 0 #FFFFFF inset, 0 1px 2px #DBDBDB; 
                          -webkit-box-shadow:0 1px 0 #FFFFFF inset, 0 1px 2px #DBDBDB;
                          box-shadow:0 1px 0 #FFFFFF inset, 0 1px 2px #DBDBDB;
                          background: #e1dfda; 
                          background: -moz-linear-gradient(top center, #f9f9f7, #e1dfda);
                          background: -webkit-gradient(linear, center top, center bottom, from(#f9f9f7), to(#e1dfda)); }
.btn-alternativ:hover   { background: #ddd; 
	                      background: -moz-linear-gradient(top center, #faf9f8, #eae8e2);
	                      background: -webkit-gradient(linear, center top, center bottom, from(#faf9f8), to(#eae8e2)); }
.btn-alternativ:active  { background:#E0DED8;}

/*.btn-action             { -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; float: left; margin-right: 4px; display: block;
                          background: #8b9400; color: #fff; font-size: 1.2em; font-weight: bold; border: solid 1px #8b9400; padding: 5px 14px 7px;
		                  background: -moz-linear-gradient(top center, #a2ad00, #8b9400);
	                      background: -webkit-gradient(linear, center top, center bottom, from(#a2ad00), to(#8b9400)); }

.btn-action:hover       { text-decoration: none; background: #c2cf00; background: -moz-linear-gradient(top center, #c2cf00, #8b9400);
                          background: -webkit-gradient(linear, center top, center bottom, from(#c2cf00), to(#8b9400)); }

.btn-action:active      { background: #8b9400; }*/

.btn-standard:visited,.btn-action:visited,.btn-action:hover { color: #fff; }
.btn-alternativ:visited,.btn-alternativ:hover   { color: #000; }

.btn-prosess            { float: right; margin-left: 4px; margin-right: 0; }
.btn-posisjon2          { margin-left: 6px; }

.btn-liten              { padding: 2px 10px 4px; font-size: 1em; }


.ikon-slett	            { display: block; float: right; background: url(/_public/Navet/decorator/bilder/ikon-slett-16px.png) no-repeat;
                          height: 16px; padding: 0 0 1px 20px; color: #3e3832; line-height: 1.4em; }
.ikon-slett:hover       { background: url(/_public/Navet/decorator/bilder/ikon-slett-16px-hover.png) no-repeat; }



/***************************************************************************************************************************
*
* Spesifikt for pilotsøk
* 
* **************************************************************************************************************************/

.section { display:block; background:transparent url('../bilder/dashedhorizontal.gif') repeat-x left bottom} /*Denne fremfor repeating code i css?*/

.hitheader { margin-bottom:.5em; }
.hitfooter { margin-top:.5em; }
.hitfooter span             { color: #B7B1A9; }
.hitfooter .text            { margin: 0 5px 0 5px; color: #988F86; }
.hitfooter .text a          { margin:  0 3px 0 3px; }
.hitfooter .date            { margin-left: 0px; }
.hitpath                    { color:#988F86; display:block; text-decoration: none; }
.documenttitle              { display:block; margin:0; font-weight:normal; font-size:1.2em; color:#0074C4; }
.documenttitle a            { font-size:1.2em; }
.searchresultswrapper       { padding-top:1px; background:transparent url("../bilder/dashedhorizontal.gif") repeat-x left top; overflow:hidden; }
.searchresultshead          { padding-top:10px; padding-bottom:20px }
.searchresults li           { padding:12px 0;background:transparent url('../bilder/dashedhorizontal.gif') repeat-x left bottom; }
.searchresults li div       { width: 83%; }
.sokeresultatpanel, #hit1   { padding: 0; }
.sist                       { margin-left: 1.5% }

.searchresults .applicationtype  {font-size:1.0em; color:#3E3832; }

.hitcount           { font-size: 1.6em;font-weight:normal;margin-bottom: 0;float:left }
.sortering          { float:right; }
.sortering span     { float:left; margin: 3px 10px 0 0;}
.sortering div      { float:left; }

/* tilbakemelding */
#meldingsboks               { margin:1em 0; }
#meldingsboks label         { display:block;margin-bottom:.5em; }
.tilbakemeldingoverskrift   { color: #3E3832; font-size: 1.2em; margin-bottom: 5px; }
.hidden                     { display: none; }
.feilmelding                { font-weight:bold; background: url('../bilder/ikon-advarsel-20px.gif') no-repeat left 50%; padding: 15px 0 10px 30px; height: 20px; margin-left: 2px; }
.takk                       { color: #3E3832; padding-left:30px; font-size: 1.2em; line-height:1.8; background: url('../bilder/ikon-suksess-25px.gif') no-repeat left 50%; }

.paginationwrapper      { margin-top:12px; }
.paginationwrapper div  { float: left; }
.prevNext span          { display: block; float: left; padding: 3px; }
.prevNext a             { display: block; float: left; padding: 3px; font-weight: bold; }
.paging a               { border: 1px solid #E0DED8; float: left; margin: 0 3px; padding: 2px 6px; }
.paging .selectedPage   { float: left; font-weight: bold; font-size: 1.2em; margin: 0 3px; padding: 2px 6px; }

/* Filtrering */
.element-liste .zero                { color:#988F86!important; }
.element-liste .zero label          { color:#988F86; text-decoration: none; }
.element-liste .zero label a        { color:#988F86; text-decoration: none; }
.element-liste .zero label a:visited{ color:#988F86; text-decoration: none; }
.element-liste label a:visited      { color:#0074C2; }
.element-liste .filteroption label  { color:#0074C2; }
.element-liste .valgte a            { text-decoration: none; color:#675C53; background: transparent url("../bilder/ikon-slett-13px-rod-graa-bg.gif") no-repeat left center; padding: 3px 0 2px 18px; }
.element-liste .valgte a:hover      { color:#3E3832; }

.element-liste .filterblock             { margin-bottom:14px; }
.element-liste h4                       { font-size:1em;font-weight:bold; }
.element-liste .lokale                  { margin-bottom: 14px; }
.element-liste .filteroption a:visited  { color:#0074C4; }

#tilknytningheader      { margin-top: 11px; }

/*Statistikk*/
.searchstats fieldset       { border:none;margin-bottom:15px; }
.searchstats label          { font-weight:bold;display:inline-block;margin-right:10px; }
.searchstats select         { width:120px; margin-right:30px; }
.searchstats .textfilter    { float:left; width:305px; margin-top: 10px; }
.hiddenOption               { display:none; }
#sokeloggsok                { width:12em; }
#withoutwords               { width:13px; margin-bottom:0; }
#withwords                  { width:13px; margin-bottom:0; }

.statistics    { width:50%; border-collapse: collapse; background: none repeat scroll 0 0 #FCFBFA; }
.statistics th      { text-align:left; }
.statistics th, .statistics td, .statistics caption {padding:10px; }
.statistics td      { vertical-align:top; }
.statistics tr.odd  { background-color:#F0EFEB; }

.placeholder        { color:#988f86; } /*Placeholder til søkefelt*/

.kolonneoverskrift          { padding: 15px 0; background:transparent url('../bilder/dashedhorizontal.gif') repeat-x left bottom; margin-bottom: 18px; }
.kolonneoverskrift h2       { color: #3E3832; font-size: 1.2em; display: inline; }
.dinevalg                   { margin-top: 16px; }
.dinevalg .fjernalle        { margin-left: 15px; } /*Samme som elementhode*/
.dinevalg h3                { color: #3E3832; font-weight: bold; display: inline; }
.fasettvalg h3              { color:#988F86; display: inline; }
.dinevalg ul                { margin-top: 10px; }
.fasettvalg ul              { margin-top: 10px; }

/*Opprinnelig fra medsok.css. Endret en del: */
.searchItems        { display:inline-block;width: 60%; }

.searchLabel        { display:inline-block;margin-top:9px;font-size: 1em;margin-right:5px; margin-left: 26%; }
.searchField        { display:inline-block;font-size: 1em;margin: 0 5px 0 0;width: 42%; }
.NAVsearchTip       { margin-left: 5px; }

.ui-autocomplete    { z-index: 3; }

/***************************************************************************************************************************
*
* Nedtrekk mini
*
* **************************************************************************************************************************/

.nedtrekk_mini{-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;position:absolute;overflow-y:auto;overflow-x:hidden;border:solid 1px #ceccc8;-moz-box-shadow:inset 0 1px 0 white, 0 1px 2px #dbdbdb;-webkit-box-shadow:inset 0 1px 0 white, 0 1px 2px #dbdbdb;box-shadow:inset 0 1px 0 white, 0 1px 2px #dbdbdb;max-height:530px;z-index:0}
.nedtrekk_mini A{display:none;color:#3e3832;padding:3px 28px 3px 6px;white-space:nowrap;text-shadow:0 1px 1px white}
.nedtrekk_mini A:hover{text-decoration:none;color:#3e3832;background:#f9f8f7}
.nedtrekk_mini A:visited{color:#3e3832}
.nedtrekk_mini A.selected{display:block;color:#3e3832;font-weight:bold;
background:#e0ded8 url(../bilder/ikon-pil-nedtrekk-mini.png) right no-repeat;
background:url(../bilder/ikon-pil-nedtrekk-mini.png) right no-repeat, -moz-linear-gradient(top, #f9f8f7, #e0ded8);
background:url(../bilder/ikon-pil-nedtrekk-mini.png) right no-repeat, -webkit-linear-gradient(top, #f9f8f7, #e0ded8);
background:url(../bilder/ikon-pil-nedtrekk-mini.png) right no-repeat, linear-gradient(-90deg, #f9f8f7, #e0ded8)
}
.nedtrekk_mini A.selected:hover{
background:#eceae4 url(../bilder/ikon-pil-nedtrekk-mini.png) right no-repeat;
background:url(../bilder/ikon-pil-nedtrekk-mini.png) right no-repeat, -moz-linear-gradient(top, white, #e9e7e1);
background:url(../bilder/ikon-pil-nedtrekk-mini.png) right no-repeat, -webkit-linear-gradient(top, white, #e9e7e1);
background:url(../bilder/ikon-pil-nedtrekk-mini.png) right no-repeat, linear-gradient(-90deg, white, #e9e7e1)
}
.active_listbox{-moz-box-shadow:1px 1px 3px #dcdcdc;box-shadow:1px 1px 3px #dcdcdc;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;z-index:2;padding:6px;border:1px solid #e0ded8;background:#f0efeb;background:-moz-linear-gradient(top, #f0efeb, #faf9f5);background:-webkit-linear-gradient(top, #f0efeb, #faf9f5);background:linear-gradient(-90deg, #f0efeb, #faf9f5)}
.active_listbox A{display:none;padding:5px 28px 5px 6px;color:#3e3832;text-shadow:none;background:url(../bilder/dashedhorizontal.gif) repeat-x bottom}
.active_listbox A:last-child{background:none}
.active_listbox A:hover{background:#eae9e4 url(../bilder/dashedhorizontal.gif) repeat-x bottom}
.active_listbox A.selected{background:url(../bilder/dashedhorizontal.gif) repeat-x bottom}
.active_listbox A.selected:hover{background:url(../bilder/dashedhorizontal.gif) repeat-x bottom}
.active_listbox A:last-child:hover{background:#eae9e4}

/*Custom searchpilot hacks - få nedtrekk til å sitte der den skal i IE*/
.searchresultshead .nedtrekk_mini, .searchresultshead .nedtrekk_mini_placeholder {width:110px;}
.searchresultshead .wrap {position:relative}
* + html .searchresultshead .nedtrekk_mini {left:0}
