/**
 * Description: Styles for nav.no site search.
 * Version: 0.1
 * Author: Vegard Sandvold (vegard.sandvold@comperio.no)
 * Author URI: http://www.comperiosearch.com
 */

/* Best Bet */
.NAVsearchBestBet li {
	padding: 10px;
	background-color: #DDEDF5;
	}
	.NAVsearchBestBet a {
		font-weight: bold;
		}
	
	.NAVsearchBestBet .NAVsearchFirstLine {
		background: transparent none repeat scroll 0 0;
		padding-bottom: 0;
		}
	.NAVsearchBestBet .NAVsearchHitBody {
		/* margin: 0; */
		}
		.NAVsearchBestBet .NAVdateSearchResult {
			padding-top: 5px;
			}

/* Synonyms */
.NAVsearchSynonyms li {
	background-color: #F1F0ED;
	margin-bottom: 11px !important;
	padding: 5px 10px;
	}
	
/* Style overrides */
.NAVformBoxSearch {
	margin-bottom: 15px;
	padding: 15px 10px;
	}
	#searchField {
		margin-left: 5px;
		}
	#searchButton {
		margin-right: 10px;
		}

.NAVsearchHitBody {
	overflow: hidden;
	}

	.NAVsearchList li {
	margin-bottom: 15px;
	padding-left: 10px;
	}
	.NAVsearchList li img {
		margin-right: 2px;
		}

.NAVsearchPaging {
	float: left;
	margin: 5px 0 0 10px;
	line-height: 1.8em;
	}
	.NAVsearchPaging li {
		float:left;
		}
	.NAVsearchPaging li.NAVsearchPrevPage {
		margin-right: 6px;
		font-weight: bold;
		}
	.NAVsearchPaging li.NAVsearchNextPage {
		margin-left: 6px;
		font-weight: bold;
		}
		.NAVsearchPaging a {
			background-color: #FFFFFF;
			border: 1px solid #E2E1E1;
			margin: 0 3px;
			padding: 2px 6px;
			}
		.NAVsearchPaging a.NAVsearchSelectedPage {
			background-color: transparent;
			border: medium none;
			cursor:default;
			font-weight: bold;
			color: #3E3832;
			}
		.NAVsearchPaging a.NAVsearchSelectedPage:hover {
			text-decoration: none;
			}
		.NAVsearchPaging li.NAVsearchPrevPage a,
		.NAVsearchPaging li.NAVsearchNextPage a	{
			margin: 0;
			padding: 0;
			background-color: transparent;
			border: medium none;
			}

.NAVsearchResultRightContainer .NAVbtn {
	margin-top: 20px;
	}
