/**********************************************
*
*	PRINT TRICKS
*
***********************************************/
body { font-size: 85%;}
body, label { font-family: "Times New Roman", serif;}

h1, h2, h3, h4, h5 { font-family: arial, verdana;}

h1 { font-size: 1.5em;}

/* CSS2 browsers only, prints url for links */
#NAVpageContainer #NAVrelevantContentContainer a:link:after, #NAVpageContainer #NAVrelevantContentContainer a:visited:after {
   content: "( " attr(href) ")";
   padding-left: 5px;
   }
a { text-decoration: underline;}

.NAVtbl td, .NAVnumTbl td { border-bottom: 1px solid #F4F3F1;}

.NAVtbl th,
.NAVnumTbl th,
.NAVsearchFirstLine { border-bottom: 1px dashed #F4F3F1;}

.NAVpageBreak { display: block; page-break-after: always; }

/* Sort skrift på print */
body, label, a, a:visited, h1, h2, h3, h4, h5, strong, b, span, ul, ol,
.ingress,
.NAVtextController ul a,
.NAVtextController ul a:visited,
.NAVtbl th,
.NAVnumTbl th { color: #000000!important;}

/*****************************
*
*	Display
*
*********************************/
#NAVheaderContent,
#NAVmenu,
#NAVsubmenuContainer,
#NAVpersonalizedNavigation form,
#NAVpageImage,
#NAVfooterContainer,
#NAVrelevantContentContainer .NAVavailability,
#NAVborderBottomLeft,
#NAVborderBottomRight,
#NAVborderBottomCenter,
.NAVsheetFlip,
.dashedLine,
.NAVnewsArchiveNavigation,
.NAVdashedBox,
.NAVlargeTableBody .NAVpageFooter,
#NAVlargeTableHeader,
#NAVpageContainer .NAVtopSpacing,
#NAVpageContainer .NAVtopSpacingFrontPage,
.NAVsortBox,
.NAVformBoxSearch,
.NAVsearchResultRightContainer,
.NAVShowHitsOfType,
.NAVSearchNavigationTop,
.NAVfastNavBordemBottom, 
.NAVsheetFlip { display: none!important;}

/************************************
*
*	Float
*
*************************************/
#NAVpageContainer #NAVrelevantContentContainer,
#NAVpageContainer #NAVcontentContainer,
#NAVborderLeft,
#NAVborderRight,
#NAVcontentSpacerOperaFix,
#NAVpageContainer,
#NAVheaderContainer,
.NAVlinkListContainer,
.NAVpageFooter,
#NAVheaderContainer #NAVheaderContentContainer,
#NAVpageContainer #NAVtwoColumnContainer,
#NAVcenterContainer,
#NAVheaderContainer #NAVheaderContentContainer .NAVlogoContainer,
#NAVpageTitleContainer,
#NAVheaderContainer #NAVheaderContentContainer .NAVlogoContainer img,
.NAVbigCampaign,
#NAVrelevantContentContainer .NAVnewsImgPlaceHolder,
#NAVrelevantContentContainer .NAVnewsImg,
#NAVtjenesterHeaderContainer h1,
#NAVtjenesterHeaderContainer .NAVtjenesteLoginContainer,
.NAVSearchResultContainer,
.threeColumnCampaign li,
.threeColumnCampaign img { float: none!important;}

.NAVlinkListContainer h5 { float: left;}

/***********************************
*
* Image
*
************************************/
html,
#NAVborderLeft,
#NAVborderRight,
#NAVheaderContainer #NAVheaderContentContainer,
.NAVpageFooter,
#NAVrelevantContentContainer .NAVavailability,
h5,
.NAVtbl th div, 
.NAVnumTbl th div,
#NAVrelevantContentContainer .NAVfastNavContainer,
#NAVpageTitleContainer,
#NAViconJobbOgArbeidsliv, #NAViconFamilieOgOmsorg, #NAViconPensjon, #NAViconHelsetjenester, #NAViconUtland, #NAViconTallOgAnalyse,
#NAViconAkershus, #NAViconAustAgder, #NAViconBuskerud, #NAViconFinnmark, #NAViconHedmark, #NAViconHjelpemidler, #NAViconHordaland, 
#NAViconMoreOgRomsdal, #NAViconNordland, #NAViconNordTrondelag, #NAViconOmNav, #NAViconOppland, #NAViconOslo, #NAViconOstfold, 
#NAViconRogaland, #NAViconSognOgFjordane, #NAViconSorTrondelag, #NAViconTelemark, #NAViconTroms, #NAViconVestAgder, #NAViconVestfold, #NAViconEures,
.NAVfastNavBordemBottom,
.NAVfastNavborderBottomRight,
#NAVpersonalizedNavigation,
.NAVbigCampaign h5,
.NAVsearchFirstLine,
#NAVcontentContainer .NAVfastNavBorderRight,
.threeColumnCampaign li { background-image: none!important;}

/***********************************
*
* Width
*
************************************/
#NAVheaderContainer, #NAVcenterContainer, #NAVborderBottomCenter { width: 100%;}

#NAVpageContainer #NAVrelevantContentContainer,
#NAVpageContainer #NAVcontentContainer,
#NAVtwoColumnContainer,
.NAVSearchResultContainer { width: 95%!important;}


/***********************************
*
* Color
*
************************************/
#NAVcenterContainer,
#NAVpageContainer,
.NAValternateRow,
#NAVrelevantContentContainer .NAVfastNavContainer .NAVfastNavPlaceHolder,
.NAVtwoColumnBanner,
.NAVformBox,
#NAVrelevantContentContainer .NAVnewsImg,
.NAVpageSection,
.NAVrelatedContentCampaign,
.NAVbigCampaign,
#NAVcontentContainer .NAVfastNavContainer .NAVfastNavPlaceHolder,
.threeColumnCampaign .header,
.threeColumnCampaign h3 { background-color: transparent!important;}

#NAVpageTitleContainer h1 { color: #675C53;}

/***********************************
*
* Margin og padding
*
************************************/
#NAVrelevantContentContainer h5,
#NAVheaderContainer, 
#NAVcenterContainer, 
#NAVborderBottomCenter,
#NAVheaderContainer #NAVheaderContentContainer .NAVlogoContainer,
#NAVrelevantContentContainer .NAVleftMargin ,
#NAVrelevantContentContainer .NAVlnkMerOm,
#NAVrelevantContentContainer .NAVfastNavContainer .NAVfastNavPlaceHolder,
#NAVheaderContainer #NAVheaderContentContainer .NAVlogo,
.NAVtwoColumnBannerContent .NAVlinkTwoColumnBannerContent,
#NAVbreadcrumbContainer,
#NAVpageTitleContainer h1,
#NAVrelevantContentContainer .NAViconPrint,
#NAVrelevantContentContainer ul,
#NAVrelevantContentContainer .NAVcountyForm,
#NAVrelevantContentContainer .NAVrelatedContentCampaign h5,
.NAVbigCampaign .NAVlnkBigCampaign,
.NAVsearchHitBody,
.threeColumnCampaign p,
.threeColumnCampaign .campaignLink { margin-left: 0px!important;}

.NAVsquareLinkList ul li { margin-left: 15px;}

#NAVrelevantContentContainer ul li,
#NAVrelevantContentContainer .NAVfastNavContainer h5,
#NAVrelevantContentContainer .NAVfastNavContainer .NAVfastNavPlaceHolder,
.NAVtwoColumnBanner h5,
#NAVrelevantContentContainer .NAVnewsImg p,
#NAVrelevantContentContainer .NAVrelatedContentCampaign a,
.NAVbigCampaign h5,
#NAVcontentContainer .NAVfastNavContainer h5,
.threeColumnCampaign h3 { padding-left: 0px!important;}

#NAVcontentSpacerContainer,
.NAVbigCampaign .NAVcampaignContent,
#NAVcontentContainer .NAVfastNavContainer .NAVfastNavPlaceHolder { margin: 0px!important;}

h5,
#NAVpageContainer #NAVoneColumnContainer,
#NAVcontentContainer .NAVfastNavContainer .NAVfastNavPlaceHolder { padding: 0px;}

#NAVheaderContainer #NAVheaderContentContainer,
#NAVheaderContainer #NAVheaderContentContainer .NAVlogoContainer,
#NAVrelevantContentContainer .NAVfastNavContainer .NAVfastNavPlaceHolder,
#NAVpageTitleContainer,
.NAVlinkListContainer .NAVsquareLinkList ul { margin-top: 0px;}

#NAVrelevantContentContainer .NAVfastNavContainer .NAVfastNavPlaceHolder { padding-top: 0px;}

#NAVrelevantContentContainer .NAVfastNavContainer .NAVfastNavPlaceHolder,
#NAVpageTitleContainer { margin-bottom: 0px;}

#NAVrelevantContentContainer .NAVfastNavContainer .NAVfastNavPlaceHolder,
#NAVrelevantContentContainer .NAVfastNavContainer { padding-bottom: 0px;}

.NAVlinkListContainer h5,
#NAVrelevantContentContainer .NAVfastNavContainer h5 {padding-bottom: 10px;}

#NAVbreadcrumbContainer { margin: 10px 0px 20px 0px;}

/*********************************************
*
*	Clear
*
*********************************************/
#NAVcenterContainer,
#NAVbreadcrumbContainer,
.NAVlinkListContainer p { clear: left;}

/*****************************************
*
*	MISC
*
******************************************/
#NAVheaderContainer { width: 100%;}
#NAVcenterContainer { display: block;}
.NAVnewsContainer h2 a { text-decoration: none;}
.NAVlinkListContainer ul { clear: left;}
#NAVbreadcrumbContainer { padding-top: 10px;}
.NAVtextCenter { text-align: left;}

/******************************************
*
*	SBL
*
********************************************/

.sidemal .menuCol { width:0%!important; padding-right: 0px!important; }
.sidemal .innholdCol { width:100%!important; padding-right: 0px!important;}