<main id="maincontent" class="content-page">
    <div class="container page-head">
        <h1 data-th-if="${title}">
            [[${title}]]
        </h1>
    </div>
    <div class="maincontent container">
        <div class="row">
            <div data-portal-region="first" class="col-md-12 col-sm-12">
                <div data-th-each="component : ${firstRegion.components}" data-th-remove="tag">
                    <div data-portal-component="${component.path}" data-th-remove="tag" />
                </div>
            </div>
        </div>
    </div>
    <div class="placeholder hide" style="height: 44px;">
        <div class="top-link-wrapper">
            <a class="btn" href="#page-top" id="top-scroll-link">
                [[${toTop}]]
                <span class="top-link-indicator"></span>
            </a>
        </div>
    </div>
</main>

