<widget >
	<style>
		#admin-widget {
          max-width: 45rem;
          line-height: 1.5;
          background-color: white;
          padding: 1rem;
          align-items: center;
          font-size: 1rem;
        
          details {
            display: grid;
            grid-template-columns: 24px 1fr;
            gap: 0 0.25rem;
            border-block: 1px solid gray;
        
            & ~ details {
              margin-block-start: -1px;
            }
            summary {
              grid-column: 1 / span 2;
              display: inline-grid;
              grid-template-columns: subgrid;
              cursor: pointer;
              text-align: left;
        
              svg {
                align-self: baseline;
                translate: 0 0.875rem;
                height: 1.5rem;
                width: 1.5rem;
                flex-shrink: 0;
                transition: scale .25s cubic-bezier(.2, 0, 0, 1);
              }
          
              h3 {
                margin-block: 0.75rem;
              }
            }
           
            &::details-content {
              grid-column: 2;
            }
            
            &[open] {
              padding-bottom: 1.5rem;
            }
            
            &[open] summary svg {
              scale: 1 -1;
            }
          
          }
        
          h1, h2, h3, h4 {
            line-height: 1.33;
          }
          h1 {
            margin-top: 0;
            margin-bottom: 1.5rem;
            font-size: 2rem;
          }
          h2 {
            font-size: 1.5rem;
          }
          h3 {
            font-size: 1.25rem;
          }
          h4 {
            font-size: 1rem;
          }
          section {
            margin-top: 1rem;
          }
        }
	</style>

	<div id="admin-widget">
		<h1 th:text="${displayName}"></h1>
		<section th:utext="${text}"></section>
		<section th:if="${subSections}">
			<details th:each="subSection: ${subSections}">
				<summary>
					<span class="icon-wrapper">
						<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="none" viewBox="0 0 24 24" focusable="false" role="img" class="chevron" aria-hidden="true">
							<path fill="currentColor" fill-rule="evenodd" d="M5.97 9.47a.75.75 0 0 1 1.06 0L12 14.44l4.97-4.97a.75.75 0 1 1 1.06 1.06l-5.5 5.5a.75.75 0 0 1-1.06 0l-5.5-5.5a.75.75 0 0 1 0-1.06" clip-rule="evenodd"></path>
						</svg>
					</span>
					<h3 th:text="${subSection.displayName}"></h3>
				</summary>
				<div th:utext="${subSection.data.text}"></div>
				<div th:utext="${subSection.data.subText}"></div>
			</details>
		</section>
		<section th:utext="${subText}"></section>
	</div>
</widget>
