/*******************************************
*
* Special styles for IE, this stylesheet will only be visible for IE clients
*
*******************************************/
HEADER, FOOTER, SECTION, NAV, ASIDE, ASIDE DIV { zoom: 1; }

ASIDE { position: relative; }

* html .clear { height: 1%; overflow: visible; }

.flervalgsform INPUT { border: none; }

.btn-standard, .btn-action { padding-bottom: 6px; }

.btn-liten { padding: 2px 5px 4px; }

.panelhode A { background: url(/_public/www.nav.no/bilder/ikoner/ikon-info-16px.gif) no-repeat; }

.panelhode A:hover { background: url(/_public/www.nav.no/bilder/ikoner/ikon-info-16px-hover.gif) no-repeat; }

.login-hoved { width: 500px; }
