enabled = true

# WEB
mapping.public.host = www.nav.no a30apvl00084.oera.no
mapping.public.source = /
mapping.public.target = /site/default/master/www.nav.no/
mapping.public.idProvider.adfs = default

# Mappings for urls to layer-specific assets and services
mapping.services-en.host = www.nav.no
mapping.services-en.source = /_/en/
mapping.services-en.target = /site/navno-engelsk/master/www.nav.no/_/
mapping.services-en.idProvider.system = default

mapping.services-nn.host = www.nav.no
mapping.services-nn.source = /_/nn/
mapping.services-nn.target = /site/navno-nynorsk/master/www.nav.no/_/
mapping.services-nn.idProvider.system = default

mapping.services-se.host = www.nav.no
mapping.services-se.source = /_/se/
mapping.services-se.target = /site/navno-samisk/master/www.nav.no/_/
mapping.services-se.idProvider.system = default

# Requests with no site prefix comes from the archive preview
mapping.archive.host = portal-admin.oera.no
mapping.archive.source = /admin/site/inline/default/draft/
mapping.archive.target = /admin/site/inline/default/draft/www.nav.no/archive/
mapping.archive.idProvider.system = default
# Necessary to ensure the previous mapping doesn't take precedence over the regular site preview
mapping.preview.host = portal-admin.oera.no
mapping.preview.source = /admin/site/inline/default/draft/www.nav.no/
mapping.preview.target = /admin/site/inline/default/draft/www.nav.no/
mapping.preview.idProvider.system = default

# Same as above for english layer
mapping.archive-en.host = portal-admin.oera.no
mapping.archive-en.source = /admin/site/inline/navno-engelsk/draft/
mapping.archive-en.target = /admin/site/inline/navno-engelsk/draft/www.nav.no/archive/
mapping.archive-en.idProvider.system = default
mapping.preview-en.host = portal-admin.oera.no
mapping.preview-en.source = /admin/site/inline/navno-engelsk/draft/www.nav.no/
mapping.preview-en.target = /admin/site/inline/navno-engelsk/draft/www.nav.no/
mapping.preview-en.idProvider.system = default

# Same as above for nynorsk layer
mapping.archive-nn.host = portal-admin.oera.no
mapping.archive-nn.source = /admin/site/inline/navno-nynorsk/draft/
mapping.archive-nn.target = /admin/site/inline/navno-nynorsk/draft/www.nav.no/archive/
mapping.archive-nn.idProvider.system = default
mapping.preview-nn.host = portal-admin.oera.no
mapping.preview-nn.source = /admin/site/inline/navno-nynorsk/draft/www.nav.no/
mapping.preview-nn.target = /admin/site/inline/navno-nynorsk/draft/www.nav.no/
mapping.preview-nn.idProvider.system = default

# Same as above for sami layer
mapping.archive-se.host = portal-admin.oera.no
mapping.archive-se.source = /admin/site/inline/navno-samisk/draft/
mapping.archive-se.target = /admin/site/inline/navno-samisk/draft/www.nav.no/archive/
mapping.archive-se.idProvider.system = default
mapping.preview-se.host = portal-admin.oera.no
mapping.preview-se.source = /admin/site/inline/navno-samisk/draft/www.nav.no/
mapping.preview-se.target = /admin/site/inline/navno-samisk/draft/www.nav.no/
mapping.preview-se.idProvider.system = default

# WEBAPP
mapping.webapp.host = a30apvl00084.oera.no portal-admin.oera.no
mapping.webapp.source = /webapp
mapping.webapp.target = /webapp
mapping.webapp.idProvider.adfs = default

# ADMIN
mapping.admin.host = portal-admin.oera.no
mapping.admin.source = /admin
mapping.admin.target = /admin
mapping.admin.idProvider.adfs = default

mapping.secretadmin.host = a30apvl00084.oera.no
mapping.secretadmin.source = /secretadmin
mapping.secretadmin.target = /admin
mapping.secretadmin.idProvider.system = default
