/*******************************************
*
* Special styles for IE, this stylesheet will only be visible for IE clients
*
*******************************************/
HEADER, FOOTER, SECTION, NAV, ASIDE, ASIDE DIV      { zoom: 1; }
ASIDE                                               { position: relative; }

select, input, textarea { font-size: 0.9em;}

samp { font-size: 1em; }

#NAVheaderContainer #NAVmenu img  { float: left; }
#NAVpersonalizedNavigation { height: 45px; }
#NAVpageImage { height: 12.8em; }
#NAVsubmenuContainer ul.NAVsubmenu li ol li ol li div { background-image: url('/_public/www.nav.no/bilder/global/none.gif'); }
#NAVtjenesterHeaderContainer { height: 5em; }
.NAVEDITable select { margin-bottom: 1px; }
#topBannerAktuelt { z-index: 2000; }
#topBannerAktuelt BR { line-height: 21px; }

#NAVpageContainer #NAVrelevantContentContainer { width: 18%; }
#frameworkFrontpage #NAVpageContainer #NAVrelevantContentContainer  {width:20%}
.leftColumnBanner .imageContainer { margin-left: 12px; }
/*Ny forside 2010*/

/*Kun ie6 og 7*/
*:first-child+html #NAVquicklinksContainer,
* html #NAVquicklinksContainer {margin-right:0;}

*:first-child+html #NAVquicklinksContainer .linkbox {width:47%;}
* html #NAVquicklinksContainer .linkbox {width:46%;}

*:first-child+html #frameworkFrontpage #NAVpageContainer #NAVrelevantContentContainer {float:right;width:20%}
* html #frameworkFrontpage #NAVpageContainer #NAVrelevantContentContainer {float:right;width:19%;overflow:hidden;}

/*********************************************************
*	Skjemaveileder
**********************************************************/
#NAVvedleggsveilederContainer .NAVskjemaBakgrunn { zoom: 1; }
#NAVvedleggsveilederContainer .NAVskjemaIndre { zoom: 1; }

* html .form-details input.lastNedLenke {text-align:left;font-size:1em;padding:0 !important;cursor:pointer;width:12em}
*:first-child+html .form-details input.lastNedLenke {text-align:left;font-size:1em;padding:0 !important;cursor:pointer;display:inline-block;overflow:visible}
.shipping-guidelines h2 {margin:0;padding-bottom:30px}

/********************************************
*	Logginn-boks.
********************************************/
#loginContainer .loginContainerRight {width: 380px; }
.logginnForm   .input_boks { width: 230px;}
.logginnForm   { width: auto; overflow: hidden !important;}
.logginnForm  .input_container {width: 360px;}
.loginNavLogo {height: 16em;}
.inputErrorContainer {padding: 0 !important;}
.loginContainerGrayMain {overflow: hidden !important;}

#NAVheaderDot { height: 60px; }
#NAVborderLeftTop { background: none; }

.NAVmenuTopLine { margin-bottom: -3px; }
.NAVmenuBottomLine { margin-top: -3px; }
