enabled = true

# INTERNAL WEBAPP (migrering og dataendringer)
mapping.webapp.host = b31apvl00112.oera-q.local
mapping.webapp.source = /webapp
mapping.webapp.target = /webapp
mapping.webapp.idProvider.adfs = default

# HEADLESS
mapping.next.host = portal-admin-dev.oera.no
mapping.next.source = /_next
mapping.next.target = /_/service/no.nav.navno/nextProxy
mapping.next.idProvider.adfs = default

mapping.legacy.host = www.dev.nav.no
mapping.legacy.source = /_/legacy
mapping.legacy.target = /site/default/master/www.nav.no/
mapping.legacy.idProvider.adfs = default

mapping.legacydraft.host = www.dev.nav.no
mapping.legacydraft.source = /_/legacy/draft
mapping.legacydraft.target = /site/default/draft/www.nav.no/
mapping.legacydraft.idProvider.adfs = default

# ADMIN
mapping.admin.host = portal-admin-dev.oera.no
mapping.admin.source = /admin
mapping.admin.target = /admin
mapping.admin.idProvider.adfs = default

mapping.secretadmin.host = b31apvl00112.oera-q.local
mapping.secretadmin.source = /secretadmin
mapping.secretadmin.target = /admin
mapping.secretadmin.idProvider.system = default

# Fix for at Content Studio ikke skal feile på lange queries
mapping.selectorQueryIntercept.host = portal-admin-dev.oera.no
mapping.selectorQueryIntercept.source = /admin/rest/cms/default/base/content/selectorQuery
mapping.selectorQueryIntercept.target = /_/service/no.nav.navno/selectorQuery
mapping.selectorQueryIntercept.idProvider.system = default

mapping.selectorQuery.host = portal-admin-dev.oera.no
mapping.selectorQuery.source = /selectorQuery
mapping.selectorQuery.target = /admin/rest/cms/default/base/content/selectorQuery
mapping.selectorQuery.idProvider.system = default
