BODY.font_normal    { font-size: 73%!important; }
BODY.font_large     { font-size: 110%!important; }
BODY.font_largest   { font-size: 150%!important; }
.small           { font-size: 1em; }
.medium          { font-size: 1.15em; }
.large           { font-size: 1.25em; }

/*********************************************************
*	GLOBAL ELEMENTS
**********************************************************/
HEADER, NAV, SECTION, ARTICLE, ASIDE, FOOTER { display: block; text-align: left; }
HTML          { background: url(gfx/background.gif) left top; }
BODY          { width: 98.5%; margin: 0; padding: 0; font-size: 73%; }

BODY, SELECT,
INPUT, LABEL  { font-family: arial, verdana, sans-serif; color: #3e3832; }
A             { color: #0074c4; text-decoration: none; }
A:visited     { color: #8b32e5; }
A:hover       { text-decoration: underline; }
IMG           { border: none; }
TABLE         { border-collapse: collapse; }
UL, OL        { list-style: none; margin: 0; padding: 0; }
SELECT, INPUT { font-size: 1em; }
FORM          { margin: 0; padding: 0; }
P             { margin: 0; }
TH            { color: #3e3832; text-align: left; }
TH DIV        { background: url(gfx/dashedline.gif) repeat-x bottom left; padding: 3px 0 3px 11px; margin-bottom: 8px; }

.ekstrem    { font-size:   3em; line-height: 1em; margin: 0; }
.ultrastor  { font-size: 1.9em; line-height: 1.2em; font-weight: normal; margin: 0; }
.megastor   { font-size: 1.5em; line-height: 1.25em; font-weight: normal; margin: 0; }
.stor       { font-size: 1.3em; line-height: 1.3em; font-weight: normal; margin: 0; }
.feit       { font-size: 1.2em; line-height: 1.35em; margin: 0; }
.tjukk      { font-size:   1em; line-height: 1.4em; margin: 0; }
.vekk       {border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; } 

.lnkHome			   { float: left; }
#footer                { clear: both; margin-top: 70px; padding: 0.3em 0 3em; text-align: center; width: 100%; }


/*********************************************************
*	SITECONTAINERS - page setup
**********************************************************/
#mainContainer    { margin-left: 10px; }
#headerContainer  { margin-top: 12px; height: 61px; }
#marginContainer  { margin-left: 26px; }
#frameContainer   { width: 100%; background-color: #e0ded8; float: left; }
#contentContainer { float: left; width: 100%; margin: 30px 0 30px; background: #f9f8f7 url(gfx/backgroundframe.gif) repeat-y top left; }
#contentContainer #menuContainer            { width: 24.84%; float: left; margin-right: 1.86%; }
#contentContainer #mainContentContainer     { width: 48.24%; float: left; margin-top: 15px; }
#contentContainer #relevantContainer        { width: 21.73%; float: left; margin-left: 2.27%; margin-top: 32px; }
#contentContainer #mainWideContentContainer { float: left; margin-top: 15px; width: 73%; }
#accessibilityContainer                     { position: absolute; left: -500px; top: -500px; }

/*********************************************************
*	BORDERS - Shadows left side and bottom
**********************************************************/
#borderLeft            { float: left; width: 100%; background: url(gfx/borderleft.gif) repeat-y left top; }
#borderBottomContainer { margin-left: 19px; }
#borderBottomLeft      { float: left; height: 12px; width: 100%; background: url(gfx/borderbottomleft.gif) no-repeat top left; }
#borderBottomCenter    { float: left; background: url(gfx/borderbottom.gif) repeat-x top left; height: 12px; width: 100%; }

/*********************************************************
*	HEADERCONTAINER
*********************************************************/
#headerContainer .btn                           { background: url(http://navet/ansatt/_public/Navet/bilder/backgroundbutton.gif) 0 100% repeat-x;
                                                  border: 1px solid #a69d97; color: #675C53; padding: 0.1em 3px 0; }
#headerContainer .logo                          { float: left; margin-left: 65px; }
#headerContainer #headerContent                 { float: right; width: 840px; }
#headerContainer .formBox                       { float: left; margin-left: 8px; background-color: transparent; padding: 0; }
#headerContainer .formBox LABEL                 { float: left; margin-right: 5px; margin-top: 3px; margin-left: 0; }
#headerContainer .formBox INPUT,
#headerContainer .formBox SELECT                { float: left; }
#headerContainer .formBox INPUT                 { width: 9em; }
#headerContainer .formBox .btn                  { margin-left: 4px; width: auto; }
#headerContainer .formBox SELECT                { width: 17em; }
#headerContainer .formBoxmargin                 { margin-right: 13px; display: inline; }
#headerContainer .switchFontContainer           { text-align: right; margin-right: 13px; margin-bottom: 10px; }
#headerContainer .switchFontContainer A,
#headerContainer .switchFontContainer A:visited { color: #3e3832; }


/************************************************************
*	 Felles styling av innhold
*************************************************************/
.appContentContainer    { margin-left: 50px; }
/*.clear:after            { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
* html .clear {height:1%;overflow:visible;zoom:1}*/
.clear:before, .clear:after { content: ""; display: table; }
.clear:after { clear: both; }
.clear { zoom: 1; }


HGROUP,
H1, H2, H3, H4, H5, H6  { margin: 0 0 0.5em; padding: 0; }
HGROUP *                { margin: 0; padding: 0; }


/* SIDEMALER */
.mal                    { clear: both; margin: 20px auto 0; }
.mal_100                { width: 100%; }
.mal_80                 { width: 80%; }

.kolonne                { float: left; margin: 0; width: 100%; }
.sist                   { float: left; margin-left: 15px; }

.mal_70_30 .forst       { width: 69%; }
.mal_70_30 .sist        { width: 29.7%; }

.mal_30_70 .forst       { width: 250px; }
.mal_30_70 .sist        { width: 635px; }

.mal_25_50_25 .forst    { width: 24.2%; margin-right: 1.3%; }
.mal_25_50_25 .midt     { width: 49%; }
.mal_25_50_25 .sist     { width: 24.2%; }

/* PANELER */

/* Standard boks */

.panel                  { padding: 12px 14px 14px; border: solid 1px #eeedec; background: #fff; margin-bottom: 16px;
                          -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px;
                          -moz-box-shadow:1px 1px 2px #eeedec; -webkit-box-shadow:1px 1px 2px #eeedec; box-shadow:1px 1px 2px #eeedec; }

/* Panelhode */
.panelhode              { border-bottom: 1px solid #c30000; padding-bottom:14px; margin-bottom: 14px; }

/* Alle h-nivåer styles likt - bruk det som stemmer med overskrift-hierarkiet på siden */
.panelhode H1,
.panelhode H2,
.panelhode H3,
.panelhode H4           { float: left; font-size: 1.2em; color: #c30000; margin: 0; background: none; }

.panelhode A            { display: block; float: right; background: url(/_public/Navet/decorator/bilder/ikon-info-16px.png) no-repeat; height: 16px; padding-left: 20px; color: #3e3832; line-height: 1.4em; }
.panelhode A:hover      { background: url(/_public/Navet/decorator/bilder/ikon-info-16px-hover.png) no-repeat; text-decoration: none; color: #0074c2; }

/* Innhold i paneler */
.panelinnhold           { margin: 0; }
.panelinnhold P         { margin-bottom: 1em; }
.p-stil                 { margin-bottom: 1em; }

/* Panelfot (med knapper og linker) */
.panelfot               { background: url('gfx/dashedhorizontal.gif') repeat-x left top; padding: 4px 0 0; margin: 0 0 12px; height: 31px; }
.panelfot P             { margin: 0; padding: 0; }

.panelfot A.link         { display: block; float: left; margin-top: 8px; }
.panelfot A.link:visited { color: #0074c4; }

/* Standard "dus" boks */
.standard-dus           { background: #fcfbfa; }

/* Standard info boks */
.standard-info          { background: #faf9f5; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
                          background: -moz-linear-gradient(top center, #faf9f5, #f0efeb);
                          background: -webkit-gradient(linear, center top, center bottom, from(#faf9f5), to(#f0efeb)); }

.standard-info,
.panelhode              { border-bottom: 1px solid #b7b1a9; }

.standard-info .panelhode H1,
.standard-info .panelhode H2,
.standard-info .panelhode H3,
.standard-info .panelhode H4       { color: #675c53; }

/* Standard notis boks */
.standard-notis         { background: #faeec9;
                          background: -moz-linear-gradient(top center, #fff4d2, #faeec9);
                          background: -webkit-gradient(linear, center top, center bottom, from(#fff4d2), to(#faeec9)); }

/* Spesial "app" (applikasjon) boks */
.spesial-app            { margin-bottom:0;
                          background: #f0efeb; border: solid 1px #eae9e8;
                          background: -moz-linear-gradient(top center, #f0efeb, #faf9f5);
                          background: -webkit-gradient(linear, center top, center bottom, from(#f0efeb), to(#faf9f5));
                          -moz-box-shadow:1px 1px 2px #dcdcdc; -webkit-box-shadow:1px 1px 2px #dcdcdc; box-shadow:1px 1px 2px #dcdcdc; }

/* Relatert (transparent) hoved boks */
.relatert-hoved         { background: none; border: none; padding: 12px 0;
                          -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }

/* Relatert (transparent) "dus" boks */
.relatert-dus           { background: none; border: none; padding: 12px 0;
                          -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }

.relatert-dus .panelhode          { border-bottom: 1px solid #b7b1a9; }

.relatert-dus .panelhode H1,
.relatert-dus .panelhode H2,
.relatert-dus .panelhode H3,
.relatert-dus .panelhode H4       { color: #675c53; }

/* Login hoved boks */
.login-hoved            { border: 4px solid #c30000; max-width: 500px; margin: 0 auto; }

.login-hoved .panelhode          { padding: 8px 14px 12px; margin: 0; background: #c30000; border: none;
                          background: -moz-linear-gradient(top center, #c30000, #b90000);
                          background: -webkit-gradient(linear, center top, center bottom, from(#c30000), to(#b90000)); }

.login-hoved .panelhode H1,
.login-hoved .panelhode H2,
.login-hoved .panelhode H3,
.login-hoved .panelhode H4       { color: #fff; float: none; }

/* Login "dus" boks */
.login-dus              { border: 4px solid #675c53; max-width: 500px; margin: 0 auto; }

.login-dus .panelhode   { padding: 8px 14px 12px; margin: 0; background: #675c53; border: none;
                          background: -moz-linear-gradient(top center, #675c53, #5a5149);
                          background: -webkit-gradient(linear, center top, center bottom, from(#675c53), to(#5a5149)); }

.login-dus .panelhode H1,
.login-dus .panelhode H2,
.login-dus .panelhode H3,
.login-dus .panelhode H4       { color: #fff; float: none; }

/* OBS! opplysning boks */
.obs-opplysning         { border: 4px solid #00a9e0; }

.obs-opplysning .panelinnhold H2,
.obs-opplysning .panelinnhold H3,
.obs-opplysning .panelinnhold H4,
.obs-opplysning .panelinnhold H5,
.obs-opplysning .panelinnhold H6    { color: #00a9e0; float: none; font-size: 1.2em; }

/* OBS! advarsel boks */
.obs-advarsel           { border: 4px solid #c30000; }

.obs-advarsel .panelinnhold H2,
.obs-advarsel .panelinnhold H3,
.obs-advarsel .panelinnhold H4,
.obs-advarsel .panelinnhold H5,
.obs-advarsel .panelinnhold H6    { color: #c30000; float: none; font-size: 1.2em; padding: 5px 0 0 34px; height: 25px;
                                    background: url(/_public/www.nav.no/bilder/ikoner/ikon-advarsel-25px.gif) no-repeat; }


/* PANELKOLONNER */

.panelkolonne_20                { float: left; margin: 0; padding: 0; width: 19%; }
.panelkolonne_25                { float: left; margin: 0; padding: 0; width: 24%; }
.panelkolonne_30                { float: left; margin: 0; padding: 0; width: 29%; }
.panelkolonne_50                { float: left; margin: 0; padding: 0; width: 49%; }
.panelkolonne_70                { float: left; margin: 0; padding: 0; width: 69%; }
.panelkolonne_75                { float: left; margin: 0; padding: 0; width: 74%; }
.panelkolonne_80                { float: left; margin: 0; padding: 0; width: 79%; }
.panelkolonne_sist              { margin-left: 2%; }


/* ELEMENTER - inline elementer i paneler */

/* Standard boks */
.element                { padding: 0; border: solid 1px #eeedec; margin-bottom: 16px;
                          -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px;
                          -moz-box-shadow:1px 1px 2px #eeedec; -webkit-box-shadow:1px 1px 2px #eeedec; box-shadow:1px 1px 2px #eeedec; }

/* Elementhode */
.elementhode            { margin: 12px 14px 14px; padding-bottom: 12px; }

/* Alle h-nivåer styles likt - bruk det som stemmer med overskrift-hierarkiet på siden */
.elementhode H1,
.elementhode H2,
.elementhode H3,
.elementhode H4,
.elementhode H5,
.elementhode H6         { float: left; font-size: 1.2em; color: #c30000; margin: 0; }

.elementhode A          { display: block; float: right; background: url(/_public/Navet/decorator/bilder/ikon-info-16px.png) no-repeat; height: 16px; padding-left: 20px; color: #3e3832; line-height: 1.4em; }
.elementhode A:hover    { background: url(/_public/Navet/decorator/bilder/ikon-info-16px-hover.png) no-repeat; text-decoration: none; color: #0074c2; }


/* Elementhode listevisning */

.element-liste .elementhode             { background: url('gfx/dashedhorizontal.gif') repeat-x bottom; margin: 12px 14px 14px 0; padding-bottom: 12px; }
.element-liste .elementhode:last-child  { background: none; }

/* Alle h-nivåer styles likt - bruk det som stemmer med overskrift-hierarkiet på siden */
.element-liste .elementhode H1,
.element-liste .elementhode H2,
.element-liste .elementhode H3,
.element-liste .elementhode H4,
.element-liste .elementhode H5,
.element-liste .elementhode H6      { float: none; font-size: 1em; margin: 0 0 0.7em; color: #3e3832; }

.element-liste .elementhode A       { display: inline; float: none; background: none; height: auto; padding: 0; color: #0074c2; }
.element-liste .elementhode A:hover { text-decoration: underline; background: none; }

/* Innhold i paneler */
.elementinnhold         { margin: 14px; }

/* Panelfot (med knapper og linker) */
.elementfot             { padding: 4px 0 0; margin: 0 14px 12px; height: 31px; }
.elementfot P           { margin: 0; padding: 0; }
.elementfot A.link      { display: block; float: left; margin-top: 8px; }

/* KNAPPER - som button-element, input-element og a-element */
.btn-base           { cursor:pointer;display:inline-block;overflow:visible;width:auto;margin-right: 4px;padding: 5px 10px;font-size: 1.2em;
                        font-weight: bold;-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
:root .btn-base     { padding-bottom: 7px }
a.btn-base          { text-decoration:none; }
* html .btn-base    { padding-bottom:5px }
/*button end*/

.btn-standard           { color: #fff;  border: 1px solid #3A3733;
                         text-shadow:0 -1px 1px #000000;
                         -moz-box-shadow:0 1px 0 #908B86 inset, 0 1px 2px #9E9E9E;
                         -webkit-box-shadow:0 1px 0 #908B86 inset, 0 1px 2px #9E9E9E;
                          box-shadow:0 1px 0 #908B86 inset, 0 1px 2px #9E9E9E;
                          background: #3a3733; 
                          background: -moz-linear-gradient(top center, #6f6962, #3a3733);
                          background: -webkit-gradient(linear, center top, center bottom, from(#6f6962), to(#3a3733)); }
.btn-standard:hover     { 
                         -moz-box-shadow:0 1px 0 #B1ABA4 inset, 0 1px 2px #9E9E9E;
                         -webkit-box-shadow:0 1px 0 #B1ABA4 inset, 0 1px 2px #9E9E9E;
                          box-shadow:0 1px 0 #B1ABA4 inset, 0 1px 2px #9E9E9E;
                          background: #978f85; 
	                      background: -moz-linear-gradient(top center, #978f85, #3a3733);
	                      background: -webkit-gradient(linear, center top, center bottom, from(#978f85), to(#3a3733)); }
.btn-standard:active    { 
                         -moz-box-shadow:0 1px 0 #000000 inset, 0 1px 2px #9E9E9E;
                         -webkit-box-shadow:0 1px 0 #000000 inset, 0 1px 2px #9E9E9E;
                          box-shadow:0 1px 0 #000000 inset, 0 1px 2px #9E9E9E;
                          background: #3a3733; }


.btn-alternativ         {  color: #000; border: solid 1px #dadad7;
                          text-shadow:0 -1px 1px #FFFFFF;
                          -moz-box-shadow:0 1px 0 #FFFFFF inset, 0 1px 2px #DBDBDB; 
                          -webkit-box-shadow:0 1px 0 #FFFFFF inset, 0 1px 2px #DBDBDB;
                          box-shadow:0 1px 0 #FFFFFF inset, 0 1px 2px #DBDBDB;
                          background: #e1dfda; 
                          background: -moz-linear-gradient(top center, #f9f9f7, #e1dfda);
                          background: -webkit-gradient(linear, center top, center bottom, from(#f9f9f7), to(#e1dfda)); }
.btn-alternativ:hover   { background: #ddd; 
	                      background: -moz-linear-gradient(top center, #faf9f8, #eae8e2);
	                      background: -webkit-gradient(linear, center top, center bottom, from(#faf9f8), to(#eae8e2)); }
.btn-alternativ:active  { background:#E0DED8;}

/*.btn-action             { -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; float: left; margin-right: 4px; display: block;
                          background: #8b9400; color: #fff; font-size: 1.2em; font-weight: bold; border: solid 1px #8b9400; padding: 5px 14px 7px;
		                  background: -moz-linear-gradient(top center, #a2ad00, #8b9400);
	                      background: -webkit-gradient(linear, center top, center bottom, from(#a2ad00), to(#8b9400)); }

.btn-action:hover       { text-decoration: none; background: #c2cf00; background: -moz-linear-gradient(top center, #c2cf00, #8b9400);
                          background: -webkit-gradient(linear, center top, center bottom, from(#c2cf00), to(#8b9400)); }

.btn-action:active      { background: #8b9400; }*/

.btn-standard:visited,.btn-action:visited,.btn-action:hover { color: #fff; }
.btn-alternativ:visited,.btn-alternativ:hover   { color: #000; }

.btn-prosess            { float: right; margin-left: 4px; margin-right: 0; }
.btn-posisjon2          { margin-left: 6px; }

.btn-liten              { padding: 2px 10px 4px; font-size: 1em; }


.ikon-slett	            { display: block; float: right; background: url(/_public/Navet/decorator/bilder/ikon-slett-16px.png) no-repeat;
                          height: 16px; padding: 0 0 1px 20px; color: #3e3832; line-height: 1.4em; }
.ikon-slett:hover       { background: url(/_public/Navet/decorator/bilder/ikon-slett-16px-hover.png) no-repeat; }



/***************************************************************************************************************************
*
* Spesifikt for pilotsøk
* 
* **************************************************************************************************************************/

.section { display:block; background:transparent url('gfx/dashedhorizontal.gif') repeat-x left bottom} /*Denne fremfor repeating code i css?*/

.hitheader { margin-bottom:.5em; }
.hitfooter { margin-top:.5em; }
.hitfooter span             { color:#B7B1A9; }
.hitfooter .text            { margin: 0 5px 0 5px; color: #988F86; }
.hitfooter .text a          { margin:  0 3px 0 3px; }
.hitfooter .date            { margin-left: 0px; }
.hitpath                    { color:#988F86;display:block;text-decoration: none; }
.documenttitle              { display:block;margin:0;font-weight:normal;font-size:1.2em;color:#0074C4; }
.documenttitle a            { font-size:1.2em; }
.searchresultswrapper       { padding-top:1px;background:transparent url("gfx/dashedhorizontal.gif") repeat-x left top;overflow:hidden; }
.searchresultshead          { padding-top:10px;padding-bottom:20px }
.searchresults li           { padding:12px 0;background:transparent url('gfx/dashedhorizontal.gif') repeat-x left bottom; }

.searchresults .applicationtype  {font-size:1.0em; color:#3E3832; }

.hitcount           { font-size: 1.6em;font-weight:normal;margin-bottom: 0;float:left }
.sortering          { float:right; }
.sortering span     { float:left; margin: 3px 10px 0 0;}
.sortering div      { float:left; }

/* tilbakemelding */
#meldingsboks       { margin:.5em 0; }
#meldingsboks label { display:block;margin-bottom:.5em; }
.hidden             { display: none; }
.feilmelding        { font-weight:bold; background: url('gfx/ikon-advarsel-20px.gif') no-repeat left 50%; padding: 15px 0px 10px 30px; height: 20px; margin-left: 2px; }
.takk               { padding-left:30px;font-size: 1.2em;line-height:1.8;background: url('gfx/ikon-suksess-25px.gif') no-repeat left 50%; }

.paginationwrapper  { margin-top:12px; } /*Skal dette heller være en knapp, ref skisse?*/

/* Filtrering */
.element-liste .zero                { color:#988F86!important; }
.element-liste .zero label          { color:#988F86; text-decoration: none; }
.element-liste .filteroption label  { color:#0074C2; }
.element-liste .valgte a            { text-decoration: none; color:#675C53; background: transparent url("gfx/ikon-slett-13px.gif") no-repeat right center; padding: 3px 22px 2px 0; }
.element-liste .valgte a:hover      { color:#3E3832; background-image: url("gfx/ikon-slett-13px-hover.gif");background-repeat:none; }

.element-liste .fjernalle               { padding-top: 12px; } /*Samme som elementhode*/
.element-liste .filterblock             { margin-bottom:14px; }
.element-liste h4                       { font-size:1em;font-weight:bold; }
.element-liste .lokale                  { margin-bottom: 14px; }
.element-liste .filteroption a:visited  { color:#0074C4; }

#tilknytningsknapp_topp         { float: right; }
#tilknytningsknapp_bunn         { float: right; margin-top:7px }
#tilknytningheader              { margin-top: 11px; }

/*Statistikk*/
.searchstats fieldset       { border:none;margin-bottom:15px; }
.searchstats label          { font-weight:bold;display:inline-block;margin-right:10px; }
.searchstats select         { width:250px;margin-right:30px; }
.searchstats .textfilter    { float:left;width:305px; }
.hiddenOption               { display:none; }

table.statistics    { width:50%;border-collapse: collapse; }
.statistics th      { text-align:left; }
.statistics th, .statistics td, .statistics caption {padding:10px; }
.statistics td      { vertical-align:top; }
.statistics tr.odd  { background-color:#F0EFEB; }

.placeholder { color:#988f86; } /*Placeholder til søkefelt*/

/*Opprinnelig fra medsok.css. Endret en del: */
.searchItems { display:inline-block;min-width: 500px;width: 880px; }

.searchLabel { display:inline-block;float:left;margin-top:9px;font-size: 1.2em;font-weight:bold;margin-right:171px; }
.searchField { -moz-border-radius: 4px 4px 4px 4px;border: 1px solid #DADAD7;display:inline-block;font-size: 1.2em;margin: 0 5px 0 0;padding: 7px;width: 620px; }

/***************************************************************************************************************************
*
* Nedtrekk mini
*
* **************************************************************************************************************************/

.nedtrekk_mini{-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;position:absolute;overflow-y:auto;overflow-x:hidden;border:solid 1px #ceccc8;-moz-box-shadow:inset 0 1px 0 white, 0 1px 2px #dbdbdb;-webkit-box-shadow:inset 0 1px 0 white, 0 1px 2px #dbdbdb;box-shadow:inset 0 1px 0 white, 0 1px 2px #dbdbdb;max-height:530px;z-index:1000}
.nedtrekk_mini A{display:none;color:#3e3832;padding:3px 28px 3px 6px;white-space:nowrap;text-shadow:0 1px 1px white}
.nedtrekk_mini A:hover{text-decoration:none;color:#3e3832;background:#f9f8f7}
.nedtrekk_mini A:visited{color:#3e3832}
.nedtrekk_mini A.selected{display:block;color:#3e3832;font-weight:bold;
background:#e0ded8 url(gfx/ikon-pil-nedtrekk-mini.png) right no-repeat;
background:url(gfx/ikon-pil-nedtrekk-mini.png) right no-repeat, -moz-linear-gradient(top, #f9f8f7, #e0ded8);
background:url(gfx/ikon-pil-nedtrekk-mini.png) right no-repeat, -webkit-linear-gradient(top, #f9f8f7, #e0ded8);
background:url(gfx/ikon-pil-nedtrekk-mini.png) right no-repeat, linear-gradient(-90deg, #f9f8f7, #e0ded8)
}
.nedtrekk_mini A.selected:hover{
background:#eceae4 url(gfx/ikon-pil-nedtrekk-mini.png) right no-repeat;
background:url(gfx/ikon-pil-nedtrekk-mini.png) right no-repeat, -moz-linear-gradient(top, white, #e9e7e1);
background:url(gfx/ikon-pil-nedtrekk-mini.png) right no-repeat, -webkit-linear-gradient(top, white, #e9e7e1);
background:url(gfx/ikon-pil-nedtrekk-mini.png) right no-repeat, linear-gradient(-90deg, white, #e9e7e1)
}
.active_listbox{-moz-box-shadow:1px 1px 3px #dcdcdc;box-shadow:1px 1px 3px #dcdcdc;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;z-index:9999;padding:6px;border:1px solid #e0ded8;background:#f0efeb;background:-moz-linear-gradient(top, #f0efeb, #faf9f5);background:-webkit-linear-gradient(top, #f0efeb, #faf9f5);background:linear-gradient(-90deg, #f0efeb, #faf9f5)}
.active_listbox A{display:none;padding:5px 28px 5px 6px;color:#3e3832;text-shadow:none;background:url(gfx/dashedhorizontal.gif) repeat-x bottom}
.active_listbox A:last-child{background:none}
.active_listbox A:hover{background:#eae9e4 url(gfx/dashedhorizontal.gif) repeat-x bottom}
.active_listbox A.selected{background:url(gfx/dashedhorizontal.gif) repeat-x bottom}
.active_listbox A.selected:hover{background:url(gfx/dashedhorizontal.gif) repeat-x bottom}
.active_listbox A:last-child:hover{background:#eae9e4}

/*Custom searchpilot hacks - få nedtrekk til å sitte der den skal i IE*/
.searchresultshead .nedtrekk_mini, .searchresultshead .nedtrekk_mini_placeholder {width:110px;}
.searchresultshead .wrap {position:relative}
* + html .searchresultshead .nedtrekk_mini {left:0}
* html .searchresultshead .nedtrekk_mini {left:0}
