name: Build to Q6

on:
  push:
    tags:
      - "v*-*"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Define variables
        id: vars
        run: |
          echo ::set-output name=VERSION::${GITHUB_REF##*/}
          echo ::set-output name=RUN_ID::${GITHUB_RUN_ID}
      - uses: actions/setup-java@v1
        with:
          java-version: 11
      - uses: actions/cache@v1
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
          restore-keys: |
            ${{ runner.os }}-gradle-
      - name: Build application
        id: build
        run: |
          version=${{ steps.vars.outputs.VERSION }}
          gradle clean build deploy -Pversion=${version//v}
      - uses: actions/upload-artifact@v1
        with:
          name: Application
          path: build/libs
      - name: Repository Dispatch
        uses: peter-evans/repository-dispatch@v1
        with:
          event-type: deploy-to-q6
          token: ${{ secrets.GITHUB_PAT }}
          client-payload: '{"RUN_ID": "${{ steps.vars.outputs.RUN_ID }}"}'
